[2019-04-23 18:13] vasukulkarni opened #12 "RFE: handle oc binary doesn't exist"
probably check in the runner and bail out sooner...

[code]

[2019-04-23 18:18] clacroix12 commented on #12
We can do this pretty easily with `shutil.which("oc")`. If we don't find anything, we can log and raise an exception.

[2019-04-23 18:56] shylesh commented on #12
This could be problematic. In my case i downloaded oc-tools (which had oc binary) to a non-standard binary path which could lead to shutil.which("oc") fail. If we enforce restriction saying oc binary should be present in /usr/bin then this might work.

[2019-04-23 19:00] clacroix12 commented on #12
@shylesh shutil.which() will return it if it is on the path. if it's not on the path, the `oc` commands we execute will end up failing anyways.

[2019-04-23 19:05] shylesh commented on #12
If this discussion is all about just fail if it doesn't exist then Yes it makes sense. What I meant is oc could be in custom path which may not be noticed by which() unless its in paths scanned by shutil.which(). Either we can document the path where we expect oc binary should be (either /usr/bin OR any path which could be added later in python path.  Also if oc-tools has different versions how to

[2019-04-23 19:16] clacroix12 commented on #12
I was mostly just trying to get after vasu's proposed solution to check in the runner and bail out sooner. However, I think this conversation changes a bit if we plan on using something like `openshift-client-python` instead of manually executing `oc` commands. For now we are manually executing cmds so if we recognize that it's not there we either need to fail or install it. If it is installed, we

[2019-04-25 04:55] vavuthu commented on #12
We need to leave installing of "oc' to the users and move to /usr/bin/ , so that it can access from anywhere instead of handling in framework.

Above should go to documentation( in pre-requisites for framework)

[2019-04-26 01:43] vasukulkarni opened #15 "Fix jenkins_rc to match TestStatus.Passed/Failed etc"
Just noticed that we have to set jenkins_rc to proper enum, right now it will just return 0 regardless of test pass or fail.

[2019-04-30 22:32] clacroix12 commented on #15
https://github.com/red-hat-storage/ocs-ci/pull/18

[2019-05-02 17:31] #15 closed

[2019-05-06 16:56] shylesh commented on #12
One of the downside of this leaving it to the user could be:
What if all the users are launching automation from same machine (ex: ci slave) and each one of them testing different versions of oc ? /usr/bin/ won't work here .
May be we need something like virtualenv !!

[2019-05-07 17:18] shylesh commented on #12
I Agree, but the point we wanted to converge on is whether to leave this oc util configuration to user OR to handle it in framework(sorry if I was not clear in my previous comment). If user's oc version is deprecated or not supported and unknowingly if user uses it, since we don't have any control on such version check it may lead to silent bugs.
So considering all these factors I was just support

[2019-05-09 16:30] mbukatov commented on #12
Do we consider `oc` to be one of the components under test? If yes, we may need to be able to use `oc` which matches OCP/OCS build which is being tested.

Also, it would be a good idea to use the same approach for both `oc` and `openshift-install` binaries.

[2019-05-10 03:28] vasukulkarni opened #34 "wait longer/retry for the rook-ceph-operator"
Not sure how much time it took, but when I reran the condition was met.

[code]

[2019-05-11 17:43] kshithijiyer opened #36 "Missing License in project."

[2019-05-12 18:51] ebenahar opened #38 "--cred <cred_file> doesn't exist in run.py"
Couldn't find --cred option in run.py:

(ocs-venv) [ebenahar@localhost ocs-ci]$ python3.7 run.py --suite suites/ocs_basic_install.yml --cred ~/.aws/config --log-level info
Usage:
run.py --suite FILE
[--conf ]
[--store]
[--reuse ]
[--post-results]
[--report-portal]
[--log-level ]
[--cluster-name ]
[--no-email]
run.py --cleanup=NAME [--osp-cred ]
[--log-level ]

[2019-05-12 18:53] ebenahar commented on #38
Couldn't find --cred option in run.py:

(ocs-venv) [ebenahar@localhost ocs-ci]$ python3.7 run.py --suite suites/ocs_basic_install.yml --cred ~/.aws/config --log-level info
Usage:
  run.py --suite FILE
        [--conf <FILE>]
        [--store]
        [--reuse <FILE>]
        [--post-results]
        [--report-portal]
        [--log-level <LEVEL>]
        [--cluster-name <NAME>]
        [--no-email

[2019-05-12 18:54] ebenahar commented on #38
Last commit:

(ocs-venv) [ebenahar@localhost ocs-ci]$ git log
commit a5aa031f29d8d381be90e009e7b310443182c3e5 (HEAD -> master, origin/master, origin/HEAD)
Merge: 8518587 613b953
Author: vasukulkarni <vasu@redhat.com>
Date:   Fri May 10 12:14:09 2019 -0700

    Merge pull request #28 from petr-balogh/ignore-venv-in-flake8

    Ignore venv for flake8 in tox

[2019-05-13 08:27] ramkiperiy opened #39 "RFE: Deploy specific ceph/rook/ocp container images"
Existing Automation uses the rook, ceph and OCP images hard coded.
There should be a config file which should take parameter from user to deploy user required rook, ceph and OCP images/builds.

[2019-05-13 14:45] clacroix12 commented on #38
To elaborate on this, we are calling `--cred` out in the usage documentation as a required argument. This is not true any more and we need to update our doc to reflect the correct usage.

[2019-05-14 09:31] dahorak commented on #12
I agree with Martin, that we should handle the `oc` the same way as `openshift-install`:

* we should use the same version of both binaries
* there is already logic to download the right version of `openshift-install`, so it soesn't make much sense to handle `oc` differently and have two places where to configure which version should be downloaded and used...
* we can call the `oc` the same way as

[2019-05-14 10:37] ksandha commented on #34
Hitting the same issue.
2019-05-14 12:26:37,416 - test_ocs_basic_install - INFO - Waiting 5 seconds...
2019-05-14 12:26:42,427 - utility.utils - INFO - Executing command: oc wait --for condition=ready pod -l app=rook-ceph-operator -n openshift-storage --timeout=120s
2019-05-14 12:26:43,614 - utility.utils - DEBUG - CMD output:
2019-05-14 12:26:43,614 - utility.utils - ERROR - CMD error:: error: no

[2019-05-14 16:35] vasukulkarni commented on #34
@ksandha thanks, I will try this again today.

[2019-05-14 22:08] petr-balogh commented on #38
Fixed by #41

[2019-05-14 22:08] #38 closed

[2019-05-15 11:56] dahorak commented on #12
If you are not against the idea suggested in the previous comment, I can create PR for that.

[2019-05-15 12:46] nehaberry opened #44 "Please add ability to deploy ceph-csi based rook installation as part of ocs-ci"
Currently, the OCS-CI deploys OCP along with rook+ceph , which is flexvolume based.
Requesting to add an option for deploying rook based ceph-csi on similar OCP 4.x environment.

The high-level steps for deployment will be: ( once an OCP cluster is UP)

cd /root/rook/cluster/examples/kubernetes/ceph
oc create -f common.yaml
oc apply -f ./csi/rbac/rbd/ ; oc apply -f ./csi/rbac/cephfs/
oc create -f

[2019-05-15 12:50] shreekarSS opened #45 "add filesystem resource creation as option"

[2019-05-15 13:27] petr-balogh commented on #39
FYI Taking this one and starting work on it.

[2019-05-15 14:49] prsurve opened #46 "RFE: Decrease usage of cluster_namespace while overriding rook parameters"
Currently, to override cluster_namespace for rook we need to specify cluster_namespace for each file it will good if we make cluster_namespace as generic so all rook pods will come under that namespace

Currently, I am using this conf:

https://paste.fedoraproject.org/paste/B-XgA0b0sfDgN3OCEuWMiw

[2019-05-15 16:46] clacroix12 commented on #12
I don't think we do, at least not currently. However I still think that we should be using an `oc` version that matches the version of `OCP`, and handling it the same way we handle `openshift-install` makes sense.

My vote is go ahead with this. I think it's a great idea and something we should be handling properly.

[2019-05-15 21:19] vasukulkarni commented on #12
@dahorak sure lets go with the same approach, but eventually we need the flexibility to test with mixed oc versions by changing the parameter(or iterating few tests with different oc versions), we haven't reached that state yet, so probably what you suggested is good.

[2019-05-16 09:26] RazTamir opened #48 "RFE: Create an OCP resource to execute 'oc' cammands"

[2019-05-16 09:30] petr-balogh commented on #48
@RazTamir few tips, assign the issue to yourself on the right side. Put the label for RFE.  I will do some presentation soon how to contribute to OCS-CI with all the tips and stuff about fork, branches PR, reviewers, coding guidelines and so on.

[2019-05-16 09:41] RazTamir commented on #48
Done - Thanks!

[2019-05-16 12:57] RazTamir commented on #48
Basic functionality implemented here - https://github.com/red-hat-storage/ocs-ci/pull/43
Please review

[2019-05-16 13:34] ebenahar opened #50 "RFE: Create a common place for basic functionalities"
For example, functions like pv create and delete, which are currently implemented in tests/test_pv_creation.py [1], should be in a commonplace.

[1] https://github.com/red-hat-storage/ocs-ci/pull/43/files/dbf2d5d41b69c9a032385cca66c549a3a8f3a032#diff-2b4e26e7e510a40da374e0d8ece59f04

[2019-05-16 15:22] vasukulkarni commented on #50
Yeah once the functionalities move to proper class, I think it will only get better and there will be no duplication.

[2019-05-16 18:23] keesturam opened #51 "RFE: create an app pod and attach pvc"
Most of our test cases will have a step to attach one or more PVC to application pod. It is a good idea to implement this functionality as a common function.

[2019-05-16 18:32] keesturam commented on #51
I'm going to pick this up and try

[2019-05-16 19:46] vasukulkarni commented on #51
@shylesh FYI, @keesturam can you post the flow details?

[2019-05-16 21:06] vasukulkarni opened #53 "File "/Users/vasukulkarni/ocs/ocs-ci/utility/utils.py", line 690, in destroy_cluster"
Handle fresh install case and set the dir probably in ocp_install ?

[code]

[2019-05-17 09:36] mbukatov opened #55 "Resolve configuration discrepancies"
I see few minor issues with configuration, which includes:

 - [x] There are 2 directories: [conf](https://github.com/red-hat-storage/ocs-ci/tree/7a9d56c333357e1243223346eba0f8dd60dd15a6/conf) and [config](https://github.com/red-hat-storage/ocs-ci/tree/7a9d56c333357e1243223346eba0f8dd60dd15a6/config), it would be nice to unify them into single directory or drop one if one is not needed.
 - [x] Dir

[2019-05-17 13:47] vavuthu commented on #44
submitted PR #58

Not handling of creation of mds since that needs to handle in test  cases

[2019-05-17 15:52] clacroix12 commented on #55
@mbukatov `conf/ocs_basic_install.yml` will only have an effect if you specify to use it with `--conf`. Since 3 workers and 3 masters is what is defaulted to in our template, that's why you are seeing 3 instead of 6.

[2019-05-20 07:38] hnallurv opened #62 "ocs-ci/docs/getting_started.md: "python3.7 -m .venv <path/to/venv>" does not work"
ocs-ci/docs/getting_started.md: "python3.7 -m .venv <path/to/venv>" does not work. It fails with error message "/usr/local/bin/python3.7: Relative module names not supported".

Fix: remove "." in ".venv" in above command.

Correct command: "python3.7 -m venv <path/to/venv>"

[2019-05-20 09:25] nehaberry opened #66 "ocs-ci/docs/getting_started.md: No mention of cloning the ocs-ci repo before Installing->Step#2"
Doc link - https://github.com/red-hat-storage/ocs-ci/blob/master/docs/getting_started.md

The document doesn't mention **to clone the OCS-CI repo** before asking to install " pip install -r requirement.txt". It would be helpful to have this information for first time users.

Doc link
--------------
Getting Started ->Installing -> Step 2 : It mentions running "pip install -r requirements.txt" .

Cu

[2019-05-20 09:41] petr-balogh commented on #39
Fixed in #57

[2019-05-20 09:41] #39 closed

[2019-05-20 09:42] petr-balogh commented on #34
Increased timeout for another 5 seconds in #57 , in case anyone will hit the issue again, feel free to reopen this issue.

[2019-05-20 09:42] #34 closed

[2019-05-20 13:02] petr-balogh commented on #62
Fixed in #65

[2019-05-20 13:02] #62 closed

[2019-05-20 13:44] petr-balogh commented on #46
In all of our templates we are using {{ cluster_namespace | default(openshift-storage) }}, so you can in the config file overwrite this variable to whatever you want like rook-ceph.  I used this new namespace openshift-storage as I saw also in [metal3 dev scripts](https://github.com/openshift-metal3/dev-scripts/blob/master/10_deploy_rook.sh) they are using this one.

If you want something else in

[2019-05-20 13:54] petr-balogh commented on #46
If anyone else (@RazTamir @shylesh @vavuthu @ebenahar @dahorak @clacroix12 ) don't have any other objections I would close this issue as **won't do**.

[2019-05-20 23:52] clacroix12 opened #71 "Removal of custom test runner framework code"
As we complete our transition to utilizing pytest we will want to remove any code that was only applicable to our custom test runner. This should be done once test execution and all features we utilized with our custom runner are supported through pytest.

Items to remove (not limited to):
- TestStatus
- TestCase Class
- run.py
- several utility functions

[2019-05-21 00:08] clacroix12 opened #72 "Enable log FileHandlers per test function"
Currently with our ocs-ci custom test runner we create a log FileHandler for every test case. We would like to replicate this behavior with pytest. One way of getting after this that sounds fairly straight forward is implementing a function level fixture that creates and removes the handlers for every test.

https://stackoverflow.com/questions/41400722/pytest-implementing-a-logfile-per-test-method

[2019-05-21 00:14] clacroix12 opened #73 "Reporting integration"
We need the ability to integrate our testing framework with:
- [x] Report Portal
- [x] Polarion

to report our test results. In addition to this we would also like the ability to send email report summaries.

RHV has apparently successfully done this, we need to investigate what they have and utilize/re-purpose what they have to fit our needs.

[2019-05-21 00:18] clacroix12 opened #74 "Add custom parser arguments for cluster config, suite config, and cluster path"
We have CLI arguments for specifying a cluster configuration, suite configuration, as well as the path to an existing cluster directory in the event you want to run tests against an established cluster. We need to create custom parser arguments so we may do the same through pytest, as well as implement the necessary functionality to support them in our tests.

This issue might be broken up into se

[2019-05-21 06:29] jilju commented on #34
I am still getting this error.

[code]

[2019-05-21 08:02] mbukatov opened #75 "Additional AWS volumes not deleted when using --destroy option when cluster name is longer than 21 characters"
## Description of the problem

Extra volumes are not deleted during cluster destroy.

## Steps to reproduce

1. Create cluster, but disable cluster destroy: `python run.py --suite suites/ocs_basic_install.yml --log-level info --cluster-name=loginname-ocs4-testing-cluster --no-email --no-destroy`
2. Destroy cluster via: `python run.py --log-level DEBUG --cluster-path /tmp/loginname-ocs4-testing-clu

[2019-05-21 08:37] RazTamir commented on #46
+1 on closing

[2019-05-21 08:49] ramkiperiy opened #76 "change the ceph failure domain to "host""
Ceph failure domain should be "host" in storage-manifest.yaml.

With OSD level failure domain, failure of one node with multiple OSDs will lead to IO failure and data unavailability.

Replica size should be 3.

[2019-05-21 09:02] RazTamir commented on #48
Closing as the main functionality is in place

[2019-05-21 09:02] #48 closed

[2019-05-21 12:26] mbukatov opened #78 "typo in clusterNamespace spec in rook-ceph-block storageClass"
In `templates/ocs-deployment/storage-manifest.yaml`, we specify storage class as:

[code]
This should read `clusterNamespace` instead. Otherwise the namespace selected is not
recognized and a default namespace is used instead by rook.

[2019-05-21 14:55] vavuthu commented on #72
Assigning to myself.

[2019-05-21 15:54] petr-balogh commented on #74
Working on it in my PR bud still WIP and didn't submit latest changes, will update soon

[2019-05-21 16:02] mbukatov commented on #78
Fixed by https://github.com/red-hat-storage/ocs-ci/pull/79

[2019-05-21 16:02] #78 closed

[2019-05-21 16:03] mbukatov commented on #75
Note: @dahorak seen this in CI today as well.

[2019-05-21 16:06] vasukulkarni opened #80 "Templating dirs"
Right now we have every yaml in "templates/ocs-deployment", based on the classes we need to separate the deployment yaml's from other class based yaml's so that organization is clear.

[2019-05-21 16:08] vasukulkarni commented on #73
@clacroix12 assigning this to you?  Ideally we want the pypi method to import the module and use it?

[2019-05-21 16:38] clacroix12 commented on #80
Are there specific yaml templates in `templates/ocs-deployment` that we want to move out? I thought the idea of having the `ocs-deployment` directory was to do exactly this.

[2019-05-21 16:41] clacroix12 commented on #75
@mbukatov do you have logs for the run? We should be logging the volumes we found with the pattern we are using. Would be helpful to see if there's a disconnect between your cluster name and what we're using for pattern matching the volumes.

[2019-05-21 16:50] mbukatov commented on #75
@clacroix12 Do you mean logs from the installation or destroy run? I keep the logs from installation only.

[2019-05-21 17:40] clacroix12 commented on #75
@mbukatov also are you sure that those volumes are for this exact run? I just spun up a cluster and the name of my volumes includes the random id that we generate.

worker instance names:
[code]
extra volume names:
[code]

Notice how both have `65942` after the name I provided with `--cluster-name`. Your extra volumes do not include this string, which makes me think they're actually not the volume

[2019-05-21 17:43] vasukulkarni commented on #80
@clacroix12 the deployment yamls can go there, but PV/Filesystem etc and other test operation related  should be kept outside deployment templates.

[2019-05-21 17:46] clacroix12 commented on #80
I agree. We should identify which yaml templates do not belong under `ocs-deployment` and come up with a directory structure for templates that makes sense.

[2019-05-21 20:36] clacroix12 commented on #73
@petr-balogh do you have links to what RHV has done on this front?

[2019-05-22 03:32] wusui commented on #78
Was this fix for this problem?:

level=error msg="\t* aws_vpc_endpoint.s3: Error creating VPC Endpoint: VpcEndpointLimitExceeded: The maximum number of VPC endpoints has been reached."

The reason why I am asking is that I have the most recent version (with this checkin) and I am still seeing this problem.

[2019-05-22 05:19] nehaberry commented on #75
@clacroix12   +1

The destroy cluster worked for me and deleted the 3 extra volumes as part of cleanup. Hence, even I was not able to reproduce this issue

**This was the command I used to create cluster**
python run.py --cluster-name=nberry-may17 --suite=suites/ocs_basic_install.yml --cluster-path=/home/nberry/aws-install/may21 --no-email --no-destroy

**Command to destroy cluster**
 python run.p

[2019-05-22 06:24] keesturam commented on #78
No, VPC Endpoint Limit Exceeded is a resource limit issue we are hitting at AWS. This issue is for the typo in storageclass that ocs-ci creates.

[2019-05-22 06:43] keesturam commented on #51
This is what I'm planning to implement.

1) create two template files for PVC and pod creation.
   a) pvc.yaml file will have jinja template

kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ pvc_name | 'test-rbd-device' }}
spec:
  accessModes:
    - {{access_mode | "ReadWriteOnce"}}
  resources:
    requests:
      storage: {{ storage_capacity | "10Gi" }}
  storageClassName: {{stora

[2019-05-22 07:11] dahorak commented on #75
I have theory, why it doesn't work for me once ... but I wasn't able to install the cluster since then, so I wasn't able to reproduce it yet..
If I'll be able to reproduce it, in my case it will be probably connected with the length of the cluster name.

[2019-05-22 07:20] #46 closed

[2019-05-22 07:29] RazTamir commented on #80
+1 on that,
We can create new dir under templates for other resources (e.g. PersistentVolumes/pv.yaml)

[2019-05-22 09:01] dahorak commented on #75
I was able to reproduce it and it and as I've write above, the reason in my case might be because of long cluster name:
The cluster is created using following command:

[code]

And should be destroyed via this command:

[code]

But in AWS I see, that it shrink the name of the cluster, so for example
instances are named this way:
[code]

And after the destroy command, following 3 volumes remain in

[2019-05-22 12:24] keesturam opened #83 "Need a function to automatically determine ceph tool box pod name and send ceph commands"
While writing test cases, We may have to run ceph commands to get to know something about the ceph cluster - health, size, pools, etc. So in our test framework, I expect a function I can call and this will internally go find the ceph toolbox pod's name, convert it into 'oc exec <tool-box> <cmd>' and give me the output in json format which can be parsed.

[2019-05-22 12:26] RazTamir commented on #83
Taking this FRE

[2019-05-22 12:27] RazTamir commented on #83
@keesturam , please provide a sample flow of executing a basic command so I will be able to test:
- How can I determine the pod holds the ceph-tool-box?
- how can I connect to it? (oc rsh?) not sure what is the command
- what command to execute once connected to the pod?

[2019-05-22 12:40] mbukatov commented on #75
I located logs from 2019-05-20, as volumes listed in description of this issue belongs to cluster I created on on this date.

This can be demonstrated via:

[code]
And 1st line when creation of the volume is logged:

[code]

Daniel's observation about long cluster name is good catch. As you can see, this applies to my case as well. Full name of my cluster was `mbukatov-ocs4-testing-cluster-88528`

[2019-05-22 12:44] keesturam commented on #83
1) oc get pods and grep for pods with name 'ceph-tools'
2) run the command 'oc rsh -n <name_space> <toolbox_name> <ceph command> --format pretty-json'
For eg., 'rsh -n rook-ceph rook-ceph-tools-78db69f57c-hz6df ceph -s --format pretty-json'
The command should be dynamic. i.e., Test author should have the flexibility to send any ceph command.
3) function to return the json value

pls let me know if

[2019-05-22 12:59] RazTamir commented on #83
regarding (2):
'rsh -n rook-ceph rook-ceph-tools-78db69f57c-hz6df ceph -s --format pretty-json <command for ceph goes here?>'

[2019-05-22 13:33] petr-balogh commented on #55
@mbukatov I found the issue here why workers weren't taken from ocs_basic_install.yml , I did change in this structure recently and counting that ppl will define variables exactly like names in templates.

So it should be fixed here: https://github.com/red-hat-storage/ocs-ci/pull/61/commits/07b5eec769d1d332c3d99d8fd1e4d86faab1fe54  in pytest related patch.

[2019-05-22 13:36] keesturam commented on #83
ah, my bad. it goes after the toolbox name.
 'oc rsh -n <name_space> <toolbox_name> <ceph_comand> --format pretty-json'

[2019-05-22 13:41] RazTamir commented on #83
Thanks!
Any availability from @ebenahar to implement this as this already demonstrated in the live session today?
(I can take care of it as well, just let me know)

[2019-05-22 13:54] ebenahar commented on #83
@RazTamir @keesturam yes, I can take it from here

[2019-05-22 14:00] ebenahar opened #84 "Hierarchy design implemetation"
We should implement the hierarchy design we will agree on.
This was raised by @RazTamir along with few design options:
https://docs.google.com/drawings/d/1Esc0zexs9Oe8BaKQA71LuV5-K1dAJSSluWq_aCieGrM/edit
https://docs.google.com/drawings/d/1SUbmE-TITkgWNruiKcFwrl52ULEuO_rDUtY4guIz2UY/edit

[2019-05-22 14:34] petr-balogh commented on #74
Partially covered in #61

[2019-05-22 15:03] clacroix12 commented on #83
@RazTamir isn't this going to be covered by our OCS cluster object? I don't see the value in having a separate function to handle retrieving the tools pod when we are trying to capture the entire cluster in objects which can be used for this purpose.

[2019-05-22 15:29] RazTamir commented on #83
@clacroix12 , yeah I this will be implemented in OCS cluster object.
@ebenahar thoughts?

[2019-05-22 17:10] clacroix12 commented on #75
@mbukatov @dahorak It looks like either terraform or openshift-install is truncating the name if it's too long so this does actually create an issue if we're using the name *we* think the volumes will have to pattern match them. I like the idea of using the `cluster_id` instead. We could also limit the name length so we don't end up with a cluster directory name that doesn't match the correspondin

[2019-05-22 17:12] shylesh commented on #83
We already have a way to do this but may not be well polished. https://github.com/red-hat-storage/ocs-ci/blob/master/tests/test_pod_exec.py . Also there is scope for improvement.

[2019-05-22 18:10] shylesh commented on #83
Also, just to iterate on future scope of this kind of functionality, usually there could be necessity to run commands on mons, osds, clients broadly I can say based on roles.
From cluster objects you should be able to extract pod object based on roles like
```client1 =cluster.get_pod(role)``` and run command on this like ```client1.execute_command(cmd)```.

Also I see a need to run commands on app

[2019-05-22 18:25] ebenahar commented on #83
Thanks @shylesh, test_pod_exec.py could be enhanced probably to be suitable for all these purposes.

@clacroix12 @RazTamir The implementation will be along with https://github.com/red-hat-storage/ocs-ci/issues/84

[2019-05-23 06:08] RazTamir commented on #83
@shylesh , BTW, I think the functionality of pods in openshift_ops should move to /ocs/pod.py

[2019-05-23 11:40] RazTamir commented on #51
Great @keesturam , let me know if you need my help

[2019-05-23 11:53] RazTamir commented on #84
I will take this issue and try to come up with something that will satisfy @shylesh design

[2019-05-23 11:56] RazTamir commented on #83
@ebenahar just 1 comment about https://github.com/red-hat-storage/ocs-ci/issues/83#issuecomment-494912409 --> test_pod_exec.py is a test not a functionality

[2019-05-23 13:36] ebenahar commented on #83
@RazTamir right :)
will convert it

[2019-05-23 13:52] mbukatov commented on #36
Hm, this would not be easy to fix as the project is based on [cephci](https://github.com/red-hat-storage/cephci), which doesn't have a licence either.

[2019-05-23 14:23] RazTamir commented on #36
So maybe we can just cut the relation to cephci and have it separately?
This option is now more reasonable as we are moving to pytest so I don't see any must connection between the 2 projects?

[2019-05-23 14:40] RazTamir opened #86 "Integrate Bugzilla plugin"
We need to integrate Bugzilla to our framework so test cases will be skipped in case there's an open bug.

The implementation in RHV already exists so we can use it

[2019-05-23 14:57] kshithijiyer commented on #36
If that so then which license should be applied to the project?

[2019-05-23 18:37] shylesh commented on #84
@ebenahar
I can take this up if you are okay.

Thanks,
Shylesh

[2019-05-23 18:51] ebenahar commented on #84
@shylesh Ok, NP, assigning to you

[2019-05-23 22:22] petr-balogh opened #87 "Destroy cluster implementation for pytest"
We need to move our current implementation of --destroy  to pytest way to allow us to run it via pytest.

[2019-05-23 22:33] petr-balogh opened #88 "Come up with approach to execute deployment, test execution, cleanup in one run."
We can use [pytest ordering](https://pytest-ordering.readthedocs.io/en/develop/) plugin to make sure that deployment test is running as the first one test, and the destroy cluster will be run at the end of the execution.  We can specify execution for example like: `pytest -m "deployment or (tier1 and manage) or destroy"` to run deployment, then tier1 tests of manage team and destroy the cluster.

[2019-05-23 22:41] clacroix12 commented on #87
We can address #53 as a part of this. @petr-balogh what is the preferred way we execute the cluster destroy. Do we create a test with a particular mark (destroy?) that reads in the `--cluster-path` value?

[2019-05-23 23:11] petr-balogh commented on #87
@clacroix12 yep, we can do it like this for now. Than we can decide on different approach later on.

[2019-05-24 07:35] ramkiperiy commented on #76
Closing this issue

[2019-05-24 07:35] #76 closed

[2019-05-24 15:25] ebondare opened #93 "Use wait_for module instead of implementing wait functions"
Currently we have two functions that do waiting for a certain condition: wait_for_resource_status and wait_for_func_status. Wouldn't it be nicer to use https://pypi.org/project/wait_for/ instead?

[2019-05-24 21:34] ebenahar commented on #83
https://github.com/red-hat-storage/ocs-ci/pull/94

[2019-05-24 22:53] ebenahar commented on #83
@keesturam Here is an example for a Ceph command execution:

INFO:utility.utils:Executing command: oc -n openshift-storage --kubeconfig /home/ebenahar/ocs-ci-ebenahar-63293/auth/kubeconfig rsh rook-ceph-tools-75867b94fc-nqj9q ceph status --format json-pretty
2019-05-25 01:47:39,003 - utility.utils - INFO - Executing command: oc -n openshift-storage --kubeconfig /home/ebenahar/ocs-ci-ebenahar-63293

[2019-05-25 01:51] keesturam commented on #83
Thanks @ebenahar This is what I had written for my test case.

`
def ceph_storage_capacity(ceph_tools_pod):
    pods = run_cmd(f'oc rsh -n openshift-storage {ceph_tool} ceph status --format json')
    pods_json = json.loads(pods)
    avail_cap = pods_json['pgmap']['bytes_total']
    avail_cap_gb = avail_cap/(1024*1024*1024)
    return avail_cap_gb

def find_cephtool():
    v1_pods = dyn_client.res

[2019-05-26 07:39] keesturam opened #96 "get method in ocp class should handle negative scenarios"
There are cases where one might need to use ocp.get method to check if a resource is already available. The get method fails with CMD error if the resource is not available. If the method returns False, get method can be used to check if a resource is available before trying to create it again.

For eg., I want to create a new project and I'd like to check if the project already exists in the clus

[2019-05-26 07:49] RazTamir commented on #96
I believe this should be fixed when this https://github.com/red-hat-storage/ocs-ci/pull/70/files#diff-ef93c603b643a8362ba61f8d9797bac2R656 will be merged and than you can do something like:

[code]

[2019-05-26 09:07] keesturam commented on #96
Perfect, Thanks @RazTamir . As a workaround, I'm doing this for now.

[code]

[2019-05-26 10:42] ebenahar commented on #83
@keesturam Great!
I didn't use the label selector, if you don't mind, I'll use it in my next commit for https://github.com/red-hat-storage/ocs-ci/pull/94 :)

[2019-05-26 17:09] keesturam commented on #83
I'm glad that you found it useful.

[2019-05-27 12:20] mbukatov opened #99 "Utility to download and install openshift installer overrides README file of ocs-ci repository"
## Description of the problem

Utility function which downloads and installs openshift installer also overrides README file of ocs-ci repository.

## Reproducer

1. clone ocs-ci repo
2. prepare all configuration (such as pull secret, aws config, see docs for full details)
3. run `python -m pytest -m deployment --cluster-name example-ocs-deployment`

## Actual Results

README file in root directory

[2019-05-27 12:44] dahorak commented on #99
This will be partially fixed by https://github.com/red-hat-storage/ocs-ci/pull/92 (the binaries are downloaded into `./bin` directory).

But extraction of only the files we expect to use is good idea, will think about it and implement it...

[2019-05-27 13:08] dahorak commented on #99
@mbukatov fixed in 81a96b9.

[2019-05-27 13:10] mbukatov opened #100 "drop `mita` directory"
We have `mita` directory, likely a configuration of https://github.com/ceph/mita, which we no longer use. It should be safe to drop it.

[2019-05-27 14:07] petr-balogh opened #102 "When --cluster-name parameter is defined it is not applied"

[2019-05-27 14:28] petr-balogh commented on #102
fixed in #103

[2019-05-27 14:28] #102 closed

[2019-05-27 18:17] ebenahar opened #105 "Implement create_project() method under OCP CLI class"
We should follow:
https://docs.openshift.com/container-platform/4.1/web-console/working-with-projects.html#creating-a-project-using-the-CLI_projects

[2019-05-27 18:19] RazTamir commented on #105
Took it (:

[2019-05-27 18:39] RazTamir commented on #105
Implemented here - https://github.com/red-hat-storage/ocs-ci/pull/101

[2019-05-28 07:31] nehaberry opened #106 "Creating the Jinja2 templates for Storageclass and secret in ceph-csi"
With the WIP on the following two PRs, we would need to have standard jinja2 templates in place under templates folder.

1. https://github.com/red-hat-storage/ocs-ci/pull/58
2. https://github.com/red-hat-storage/ocs-ci/pull/95

Hence, this issue  is for the need to submit the 4 jinja2 templates :
1. csi-rbd-storageclass.yaml
2. csi-rbd-secret.yaml
3. csi-cephfs-storageclass.yaml
4. csi-cephfs-secr

[2019-05-28 11:23] mbukatov opened #108 "pytest run fails on `Defining 'pytest_plugins' in a non-top-level conftest is no longer supported`"
Pytest run fails on `Defining 'pytest_plugins' in a non-top-level conftest is no longer supported`:

[code]

This is happening because main pytest run is collecting tests from unittests directory.

[2019-05-28 11:29] RazTamir commented on #108
Is this blocking only deployment?
I just managed to execute tier 1 without issues

[2019-05-28 11:32] mbukatov commented on #108
@RazTamir it happens during `collecting` phase, it will affect any tests. The problem is visible since merge of https://github.com/red-hat-storage/ocs-ci/pull/104, which was merged just few hours ago.

[2019-05-28 11:33] petr-balogh commented on #108
@mbukatov  I see you didn't defined the folder of tests in you command so pytest is taking the ./ as default I think so than it's trying to collect everything under the path. So I think that user have to define the ./tests folder when running pytest to provide the path of tests where we have our tests.

So if you will run
`py.test -m deployment --cluster-name mbukatov-ocsqe ./tests` do you still s

[2019-05-28 11:40] mbukatov commented on #108
You are right that pytest is trying to collect everything in the current directory. That said, making boundaries between unittests and actual tests explicit is a good idea, and I just forgot to make sure it's enforced.

[2019-05-28 11:49] petr-balogh commented on #108
@mbukatov what do you propose to fix this?  I see that boundaries are already defined in different folders which we documented should be used to run with.  I think that it's normal from user to have specified test directory/path to be defined.

[2019-05-28 11:53] mbukatov commented on #108
https://github.com/red-hat-storage/ocs-ci/pull/109

Correct. It will just make pytest more resilient to such errors, esp. for deployment.

[2019-05-28 12:00] petr-balogh commented on #84
Hi, @shylesh  can you please update us if you had time to start looking at it?  Thanks

[2019-05-28 14:25] petr-balogh commented on #74
@vasukulkarni  @RazTamir @clacroix12  We need to discuss this suite config on our mtg what do we think of it in pytest way.

[2019-05-28 14:29] nehaberry opened #112 "Bring up MDS pods along with other Ceph Pods while deploying OCS"
With the merging of PR #58 , OCS deployment is CSI based which creates Ceph pods(MONs, OSD, MGR), CSI pods, rook pods and toolbox pods.

But, In a setup deployed using this method, only  RBD volumes can be created. To have Cephfs volumes, we need MDS pods to be part of deployment.

As the requirement docs lists both RBD and CephFS and default volume types, it would be helpful to have a basic set o

[2019-05-28 14:31] nehaberry commented on #112
@red-hat-storage/top-level-reviewers what is your suggestion ?

[2019-05-28 14:32] RazTamir commented on #112
@nehaberry I don't think we can just go ahead and add mds.
We need to understand what will be the default deployment and ensure we get the same.
Otherwise, we will have a different deployment from our customers

[2019-05-28 15:37] petr-balogh commented on #80
This was my initial plan, I created directory for ocs-deployment just for templates related to deployment test.

[2019-05-28 19:43] shylesh commented on #84
@petr-balogh ,

I refined the design further https://docs.google.com/drawings/d/1xb_zl3fsbBiftOeZ7_gFU7NkJ40D2EaDHUMyHitWAVg/edit?usp=sharing.  However I will soon submit the PR with skeleton classes and methods. Its fast evolving as and when our understanding of kubernetes is growing and expected to change further.

I see the need for these classes very much as users have started submitting testc

[2019-05-28 20:10] petr-balogh commented on #75
@clacroix12 yep, I think that we should propagate this cluster_id from cluster directory to some ENV_DATA  and we can use this cluster_id for deleting extra volumes which will solve the issue.  About cluster name length I think we should also limit it to some length as we are also adding some random numbers CID to the name. Currently CID is int with length 5 digits, we can decrease it to 3 chars w

[2019-05-28 21:02] vasukulkarni commented on #100
mita is *not* a configuration but openstack library which will be still valid, I kept the dir name as mita to give *credits* to the original mita project, since thats how we got introduced to libcloud, the mita link you provided is a *jenkins slave orchestration*

[2019-05-28 21:44] clacroix12 commented on #75
@petr-balogh the purpose of the 5 digits we add to the cluster name was to ensure that the directory created was going to be unique. This is because by default all cluster directories are going to `/tmp`. However, if we started placing the cluster directory inside of the "run directory" that we create for logs / potentially other things for the entire automation run, we wouldn't need the 5 digit c

[2019-05-29 03:13] wusui opened #113 "OCP.exec_oc_cmd("describe pod podname") fails"
OCP.exec_oc_cmd("describe pod name") returns:

/home/ec2-user/venv/lib/python3.7/site-packages/kubernetes/config/kube_config.py:496: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  config_dict=yaml.load(f),
Traceback (most recent call last):
  File "get_ip_addrs.py", line 53, in <mod

[2019-05-29 03:39] nehaberry commented on #112
@RazTamir in that case it would be useful to get this validated from PMs & devs in a meeting.
Currently, in our default deployment, one cannot run any cephfs related test case until he/she creates MDS pods. So eventually, if we all agree that both RBD and cephfs are day-0 requirements for OCS, we may have to have MDS pods running as part of default OCS deployment.

[2019-05-29 03:48] keesturam commented on #112
@nehaberry @RazTamir - RWX is going to be on cephFS unless explicitly called out.

[2019-05-29 05:50] RazTamir commented on #113
I believe this can easily fixed with adding '-o yaml' to the end of the command you executed

[2019-05-29 06:38] nehaberry commented on #112
@keesturam you mean we would need CephFS by default  ? If thats the case, we may need to run "filesystem.yaml" to create MDS pods. Maybe, we can discuss with dev as well

[2019-05-29 06:57] RazTamir commented on #112
@nehaberry @keesturam please do ask pm and dev about this

[2019-05-29 07:14] shylesh commented on #84
some of the pieces are already in Vijay's PR https://github.com/red-hat-storage/ocs-ci/pull/40/files. We are collaborating on how to put it in place and implement remaining.

[2019-05-29 07:36] mbukatov commented on #108
Fixed by https://github.com/red-hat-storage/ocs-ci/pull/109

[2019-05-29 07:36] #108 closed

[2019-05-29 08:21] mbukatov commented on #100
Closing based on [explanation in previous comment](https://github.com/red-hat-storage/ocs-ci/issues/100#issuecomment-496688825).

[2019-05-29 08:21] #100 closed

[2019-05-29 08:31] mbukatov opened #114 "README file with short explanation for every major directory"
Make sure we have a README file with short explanation and references for every directory in the root of the repository:

- [X] conf: already has one via https://github.com/red-hat-storage/ocs-ci/pull/110/files
- [X] docs: already there
- [ ] mita: something along the lines of https://github.com/red-hat-storage/ocs-ci/issues/100#issuecomment-496688825 (credit and licence should be added as a part

[2019-05-29 14:31] mbukatov opened #120 "move tests/helpers.py into utility or ocs module"
File `tests/helpers.py` should be moved to some already existing python module with such functions.

[2019-05-29 14:53] keesturam opened #121 "change the worker node count from 6 to 3 in the basic install"
currently, the number of worker nodes installed is 6. I don't think we need 6 worker nodes as the default value to run functional tests. So, Unless explicitly asked for default installation should have 3 worker nodes.

[2019-05-29 16:23] petr-balogh commented on #73
@clacroix12  in rhevm we used something like this: https://github.com/tareqalayan/reportportal_cli  this is just fork from CNV team.  It's executed after the execution of pytest so not part of run of pytest itself. Like publisher in the jenkins job from xunit file and you can add the logs and so on.  How CNV is calling it is implemented [here](https://gitlab.cee.redhat.com/contra/cnv/blob/master/v

[2019-05-29 16:45] clacroix12 commented on #80
Are there any templates under `ocs-deployment` that we need to relocate or can we close this as it seems like we're already have a plan to organize templates accordingly.

[2019-05-29 16:49] vasukulkarni commented on #80
@clacroix12 I will keep this open for few days, I see PR's coming in with yaml's and checking the directory, I see the need to reorganize them.

[2019-05-29 18:30] wusui commented on #113
-o yaml does not seem to work.

(venv) [ec2-user@ip-172-31-47-136 utility]$ python
Python 3.7.3 (default, May 28 2019, 22:11:24)
[GCC 8.2.1 20180905 (Red Hat 8.2.1-3)] on linux
Type "help", "copyright", "credits" or "license" for more information.

/home/ec2-user/venv/lib/python3.7/site-packages/kubernetes/config/kube_config.py:496:
YAMLLoadWarning: calling yaml.load() without Loader=... is deprec

[2019-05-29 19:17] RazTamir commented on #113
Taking this issue

[2019-05-29 20:09] clacroix12 commented on #73
I have a WIP using the `pytest-reportportal` plugin. This allows us to use the `--reportportal` CLI option to post our results to the configured report portal instance. This configuration is done in `pytest.ini` at the moment, but we most likely want to determine a more secure place to pull our configuration from instead of having it in plain text.

Example execution:
[code]

What this will look l

[2019-05-29 20:52] vasukulkarni commented on #73
@clacroix12 Nice!, I think we can push them to release a version in pypi and until then we can use the master branch like you suggested.

[2019-05-29 21:52] vasukulkarni commented on #36
Fixed here: https://github.com/red-hat-storage/ocs-ci/pull/124

[2019-05-29 23:45] clacroix12 commented on #73
Initial take at this is here: https://github.com/red-hat-storage/ocs-ci/commit/ecabeba3604e0888638ffc00cc48c9a911d8c16a

[2019-05-30 04:55] ramkiperiy opened #125 "openshift-storage namespace is getting overriden even if we have user-defined namespace"
Updated custom namespace in 2 locations as below.

1. conf/ocsci/default_config.yaml ==> ROOK_CLUSTER_NAMESPACE: "rook-ceph"
2. ocs/defaults.py ==> ROOK_CLUSTER_NAMESPACE = 'rook-ceph'

After editing in above 2 places still my oc commands are generated with "openshift-storage" namespace.

This param should be overridden from one location.

Workaround: This is not a good suggestion but works for ex

[2019-05-30 07:41] #12 closed

[2019-05-30 07:52] dahorak commented on #99
Fixed by https://github.com/red-hat-storage/ocs-ci/pull/92.

[2019-05-30 07:52] #99 closed

[2019-05-30 08:15] RazTamir commented on #73
This is great @clacroix12

[2019-05-30 08:29] RazTamir commented on #125
@ramkiperiy how you initialized your CBP object?

[2019-05-30 09:02] RazTamir commented on #113
Hi @wusui is there anything specific that you can achieve only with describe?
describe if a very complex operation that doesn't act like all the others so I'd prefer to handle it in the future.
Also, in the REST client, this is still not implemented so wanted to understand if 'get' doesn't provide what you are looking for

[2019-05-30 13:11] vavuthu commented on #44
Closing the issue as PR #58 was merged.

[2019-05-30 13:11] #44 closed

[2019-05-30 13:27] RazTamir opened #131 "Deployment on VMware - UPI installer"

[2019-05-31 01:08] #36 closed

[2019-05-31 09:18] wusui commented on #113
I don't think that this PR is important as I once thought it was.  I don't
need to make this change now.  If we need to do this in the future and the
describe command is still a problem, we could always fall back on piping
raw oc command output through subprocesses as a work around.

On Thu, May 30, 2019 at 2:03 AM Raz Tamir <notifications@github.com> wrote:

[2019-06-01 21:57] petr-balogh commented on #87
Fixed in #140

[2019-06-01 21:57] #87 closed

[2019-06-01 21:59] petr-balogh commented on #53
This was case of old runner right? Or is it still valid for pytest execution?

[2019-06-01 22:01] petr-balogh commented on #74
Closing this one and in case some config for suite is still relevant for pytest we can open new issue with more details.

[2019-06-01 22:01] #74 closed

[2019-06-02 01:02] keesturam commented on #125
This is how I use a custom namespace.
Define the following in defaults.py
`TEST_NAMESPACE = 'ocs-qe'`

Use `TEST_NAMESPACE` to initialize OCP objects.

[2019-06-03 20:21] clacroix12 commented on #73
https://github.com/red-hat-storage/ocs-ci/pull/149

[2019-06-04 01:04] #66 closed

[2019-06-05 14:21] mbukatov opened #155 "Wrapper run-ci doesn't work as described in the docs"
Since request https://github.com/red-hat-storage/ocs-ci/pull/142/files the docs notes that it should be possible to run the pytest wrapper via comman line tool `run-ci` (which is created via setuptools during pip based installation in a virtual env).

But this doesn't work, because the module `run_ocsci.py` is not installed anywhere (via setuptools), so the `run-ci` wrapper wont work:

[code]

Whi

[2019-06-05 15:59] vasukulkarni commented on #155
@mbukatov if you are seeing sdist issue then go ahead and fix it, but saying entry-point doesn't work is incorrect, I have been using it for quite some time now.  have you recreated venv and tried?

[2019-06-05 16:09] mbukatov commented on #155
@dahorak also notes that it works for him. But I have no idea why the module is visible for him and in my case, the module is not visible (which is something I would actually expect to happen). And yes, I recreated venv.

[2019-06-06 07:57] dahorak opened #158 "Specifically log openshift installer and client versions"
It would be worth to print particular version of downloaded `openshift-installer` and `openshift-client` into log.

[2019-06-06 10:33] dahorak commented on #158
It would be good to log also versions of other components (like rook image), but I'm not sure what is the best way to get those information.

[2019-06-06 14:00] mbukatov opened #160 "During deployment, log version of ocs/rook images"
During deployment, log version of ocs/rook images. It would be useful to include hash along with tag name for each image. Mentioning pull url would be also useful.

References:

 * https://kubernetes.io/docs/tasks/access-application-cluster/list-all-running-container-images/

[2019-06-06 15:53] ebenahar opened #161 "Create a constants file"
Move all constants from defaults.py to there

[2019-06-06 15:54] vasukulkarni opened #162 "Move Conf folder under ocs"

[2019-06-06 15:56] vasukulkarni commented on #162
Directory structure fixes:
 -> ocsci + ocs

[2019-06-06 15:57] vasukulkarni commented on #162
move oc -> ocs

[2019-06-06 16:41] clacroix12 commented on #162
I don't think `ocs` and `ocsci` should be combined necessarily. These are two different things. We may want to change the name of `ocsci` to something like `framework` to avoid confusion, but I wouldn't combine them because they were intended to do different things. `ocs` should be any code that interfaces with the product. `ocsci` is framework level code. In the even that we do consolidate our py

[2019-06-06 16:46] clacroix12 commented on #162
On the topic of consolidating to `ocs`. Why do we have a separate top level directory for `resources`? This seems like something that should belong under `ocs` as well.

[2019-06-06 16:53] clacroix12 commented on #72
#159

[2019-06-06 21:12] andrewschoen commented on #88
I think the deployment phase would be nicely done as a pytest fixture with a scope of session. This way the cluster can be created at the start of the test run and tore down when the tests complete. I've used this pattern in the past to create databases that are used during the test run and discarded afterwards.

He's a link to some pytest docs about this: https://docs.pytest.org/en/latest/fixture

[2019-06-06 21:36] vasukulkarni commented on #88
Even I think session based scope fits better,  but we also want this to be optional when using existing cluster.  probably its better to discuss in meeting how to fix the ordering part.

[2019-06-06 21:41] andrewschoen commented on #88
I'd be happy to discuss this in a meeting. I think we'd handle using a existing cluster exactly how it's currently done. We can test to see if cluster information was given and if we can connect to it or not. https://github.com/red-hat-storage/ocs-ci/blob/master/tests/ecosystem/deployment/test_ocs_basic_install.py#L27-L33

[2019-06-07 00:50] vasukulkarni commented on #160
Mind taking this up, I see you have something in your email?

[2019-06-07 01:32] vasukulkarni opened #167 "PytestAssertRewriteWarning: Module already imported so cannot be rewritten: utility"
[code]

[2019-06-07 07:58] PrasadDesala opened #168 "defaults TEMPLATE_DIR will fail to locate CSI templates"
defaults.py --> TEMPLATE_DIR = os.path.join(TOP_DIR, "templates/ocs-deployment/")

TEMPLATE_DIR is fetching the yamls under "templates/ocs-deplyment", but when we try to call CSI yaml it will fail to find the yaml because  CSI related yamls are placed under "templates/CSI"

Either CSI yamls should be moved under "templates/ocs-deployment/" or TEMPLATE_DIR should be corrected.

[2019-06-07 08:40] keesturam commented on #168
@PrasadDesala https://github.com/red-hat-storage/ocs-ci/pull/166 should solve this issue.

[2019-06-07 09:25] PrasadDesala commented on #168
I think this PR may not solve this issue. Even in this PR, TEMPLATE_DIR is pointing to "templates/ocs-deployment".
So, CSI yaml when called will fail to locate as it will try to find in templates/ocs-deployment/<CSI>.yaml but the actual CSI yaml is present in templates/CSI

[2019-06-07 10:25] vavuthu commented on #168
If you want to read the yaml files under CSI folder, please add
TEMPLATE_DIR_RBD = os.path.join(TOP_DIR, "templates/CSI/rbd/")
and use like below
[code]

[2019-06-07 10:28] vavuthu commented on #168
I have requested to add TEMPLATE_DIR_RBD and TEMPLATE_DIR_CEPHFS in PR #166

[2019-06-07 11:18] mbukatov commented on #160
Ack, I'm going to propose a PR for this.

[2019-06-07 16:10] vasukulkarni commented on #168
I am handling all the template stuff here: https://github.com/red-hat-storage/ocs-ci/pull/164

[2019-06-09 22:19] davidwilson3 commented on #161
I'd like to take this if it's still up for grabs

[2019-06-10 12:05] fbalak opened #178 "Incorrect aguments used in PVC class constructor"
[PVC](https://github.com/red-hat-storage/ocs-ci/blob/master/resources/persistent_volume_claim.py) class is inheriting from [OCS](https://github.com/red-hat-storage/ocs-ci/blob/master/resources/ocs.py). In `__init__()` is:
[code]
but  [OCS](https://github.com/red-hat-storage/ocs-ci/blob/master/resources/ocs.py) [constructor doesn't take any additional positional arguments](https://github.com/red-ha

[2019-06-10 13:42] RazTamir commented on #178
@fbalak should be fixed with https://github.com/red-hat-storage/ocs-ci/pull/174/files

[2019-06-10 13:43] nehaberry opened #181 "Add check for ceph pods in ocs-ci deployment"
Currently, there's no check for "Running" status of Ceph related pods after running "oc create -f cluster.yaml" in tests/ecosystem/deployment/test_ocs_basic_install.py.

Hence, it would be better to have a check with "wait_for_resource" to confirm that the pods are up before moving on to second line.

Note: PR# https://github.com/red-hat-storage/ocs-ci/pull/151 already addressing it .

[2019-06-10 14:02] fbalak commented on #178
@RazTamir Ok, I will close PR 179 when PR 174 is merged. Can you add `Fixes issue 178` to your PR description? That way it should automatically close this issue when it is merged (https://help.github.com/en/articles/closing-issues-using-keywords) and it will be clear where it was resolved.

[2019-06-10 14:47] RazTamir commented on #178
Thanks - done

[2019-06-10 22:14] clacroix12 commented on #161
Addressed in #166

[2019-06-10 22:14] #161 closed

[2019-06-11 06:47] #178 closed

[2019-06-11 07:56] RazTamir opened #191 "unittest is failing constantly"
Please check this failure https://travis-ci.org/red-hat-storage/ocs-ci/jobs/544075367

[2019-06-11 08:55] fbalak opened #193 "Resource StorageClass is broken"
Class `StorageClass` from `resources.storage_class` have following issues:

- Directory in paths to yaml template is swapped. CephFS uses RBD dir and RBD uses CephFS dir.
- Path to yaml points to not existing file (`{rbd,cephfs}_storageclass.yaml`).
- Class gets `namespace` from template but storage classes don't use namespaces. This will be harder to fix because `OCS` class that is parent for thi

[2019-06-11 09:14] fbalak opened #195 "Storage class can not be created without specified namespace"
Objects created from [OCS class](https://github.com/red-hat-storage/ocs-ci/blob/master/resources/ocs.py#L14) expect object in form `object['metadata']['namespace']` as parameter. Storage class doesn't use `namespace` so it shouldn't be provided in argument.
`OCS` class will have to be changed.

[2019-06-11 09:14] RazTamir commented on #193
see my comment https://github.com/red-hat-storage/ocs-ci/pull/194#pullrequestreview-248047997

[2019-06-11 10:06] prsurve opened #198 "Cephfs storageclass creation is broken"
tests.helpers is failing to create cephfs storageclass its missing config file for creating storageclas

[2019-06-11 10:07] prsurve commented on #198
Fixed in #197

[2019-06-11 10:07] RazTamir opened #199 "Running Rook tests as our tier0"
In order to get more tests running in a quicker way, we will need to run Rook tests [1] in our CI in OpenShift.
Currently, the tests are running only on K8s but to enable those on OCP I talked with Travis and from his words, it seems not too much needs to be done to enable those on OCP:
"The only differences between running on K8s and OpenShift should be what is described in this topic
https://roo

[2019-06-11 13:21] ebenahar opened #200 "Organize fixtures in a conventionalized way"
We should agree on a standard of where to put fixtures implementation.
Currently, we have fixtures written in different places - [inside the test file](https://github.com/red-hat-storage/ocs-ci/blob/master/tests/test_add_mds_to_cluster.py#L21), [in conftest.py](https://github.com/red-hat-storage/ocs-ci/pull/98/files#diff-484462fced51d1a06b1d93b4a44dd535R1) and [in fixtures.py ](https://github.com/

[2019-06-11 13:54] mbukatov commented on #200
I would say that having some [fixtures](https://docs.pytest.org/en/latest/fixture.html) in test files and others in conftest.py files doesn't constitute a conflict or breach on standard pytest conventions.

It makes sense to keep fixtures which automates specific setup for small number of test cases (as present in a particular python file) in the test file, while moving the fixture into conftest m

[2019-06-11 14:16] ebenahar commented on #200
Thanks @mbukatov, sounds good to me. Replaced fixtures.py with conftest.py - https://github.com/red-hat-storage/ocs-ci/pull/203

[2019-06-11 15:37] vasukulkarni commented on #191
Looks like was broken during merge of https://github.com/red-hat-storage/ocs-ci/pull/183 , @petr-balogh do you remember if the merge button was green for you? Trying to see if there is still an issue with merging on failed CI tests.

[2019-06-11 15:38] vasukulkarni commented on #191
@zmc FYI

[2019-06-11 15:42] mbukatov commented on #73
@clacroix12  Speaking about linking to polarion test cases: Assuming that we are going to report the test run resutls via junit xml report (as generated by pytest), it seems to me that we need to find a way for a polarion test case will be referenced there.

There are few options which pytest provides here, like:

* https://docs.pytest.org/en/latest/usage.html#record-property
* https://docs.pytest

[2019-06-11 17:30] vasukulkarni commented on #199
We can discuss in the meeting further,

a) What tests are part of the tier0
b) disabling the tests that are not required

[2019-06-11 17:36] clacroix12 commented on #73
@mbukatov I think the record property is the cleanest solution for us. Specifically implementing it with a custom marker for the Polarion ID. Once it is a property on the Test Case we can do whatever we want with it from the reporting side, correct?

[code]

[code]

[2019-06-11 18:23] zmc commented on #191
In #183, the tests didn't properly run. See https://travis-ci.org/red-hat-storage/ocs-ci/jobs/543758242

I'm not sure why yet.

[2019-06-11 18:24] zmc commented on #191
https://github.com/red-hat-storage/ocs-ci/pull/190 was merged with failing tests.

[2019-06-11 18:29] zmc commented on #191
https://github.com/red-hat-storage/ocs-ci/pull/183 changed the default in one place but not the other (we really need to consolidate)

[2019-06-11 18:38] zmc commented on #191
https://github.com/red-hat-storage/ocs-ci/pull/206

[2019-06-11 18:42] zmc commented on #191
Should be fixed now. If you still see failures, rebase against master.

[2019-06-11 18:42] #191 closed

[2019-06-11 18:52] clacroix12 commented on #80
@vasukulkarni Looks like we addressed this in #164 can we close this?

[2019-06-11 18:55] #72 closed

[2019-06-11 19:08] petr-balogh commented on #191
@vasukulkarni when I submitted the change the PR #165 wasn't merged yet so the test didn't run and the merge button was green. But when I merged today it caused the issue. I saw the issue today, so before I left the office I tried to submit this PR #202 . I tried to explained the problem with the test in the comment in the PR #202 and this specific commit:  https://github.com/red-hat-storage/ocs-c

[2019-06-11 19:23] clacroix12 opened #207 "Project directory restructure"
There have been several concerns about the structure of our project at the moment. A lot of this stems from the origins and evolution of the project. This issue will focus on organizing the directories into a structure that makes sense for us now.

Proposed changes:

- Contents of `oc` and `mita` move to `ocs` module.
- `Resources` module moves to `ocs` module.
- Removal of `suites` directory.
- R

[2019-06-11 19:45] vasukulkarni commented on #80
Thanks Closing

[2019-06-11 19:45] #80 closed

[2019-06-11 19:48] vasukulkarni commented on #191
@petr-balogh got it, thanks, I think we have *killer* confusion here with 2 defaults which we discussed a bit last week but held up for you,  I suggest we kill the defaults from conf(Keep other data there) and use defaults.py for all defaults, Lets discuss once you come back.

[2019-06-11 20:48] RazTamir opened #209 "test_ocs_336_346 is failing"
@shreekarSS please re-test on an up to date branch and send PR to fix this test case

[2019-06-11 20:49] clacroix12 commented on #207
Another idea using a more standard python project approach. Essentially moving all source under `ocs_ci`, keeping only unit tests (for now) and docs at the top level.
[code]

[2019-06-11 21:13] RazTamir commented on #207
+1 for the first with few questions:
- why docs not under framework? or a similar place?
- conf, the same question
 besides that looks good

[2019-06-11 21:19] clacroix12 commented on #207
@RazTamir docs are for more than just the framework as they include things like how to write tests, how to contribute to the project as a whole, and coding guidelines that apply everywhere. I don't see them as something that ONLY applies to the framework so I wouldn't put it under that directory.

`conf` could definitely move somewhere else but I'm not sure framework is the right place either. Onc

[2019-06-11 21:20] RazTamir commented on #209
Also, the test is not cleaning everything and there are few leftovers in case of failure (secret and storageclass)

[2019-06-11 22:53] vasukulkarni opened #211 "set OC bin path when deployment is skipped"
I think shylesh noticed that in new terminal oc path is not set and it will fail when deployment test is skipped, It was working for me since I had oc in standard bin path, I think we should set this up when we skip the deployment test.

[2019-06-12 06:44] mbukatov commented on #211
I [discussed this](https://github.com/red-hat-storage/ocs-ci/pull/49#discussion_r286123119) with @dahorak some time ago. Since we have a [pytest wrapper](https://github.com/red-hat-storage/ocs-ci/blob/master/run_ocsci.py) now, we could just export the path there.

[2019-06-12 06:47] mbukatov commented on #211
After brief discussion with Daniel, I'm going to propose a fix.

[2019-06-12 08:54] #195 closed

[2019-06-12 11:35] hnallurv opened #215 "wait_for_resource() times out even after pod is successfully created."
After creating a pod, wait_for_resource() is failing for me even though pods are successfully created.

With new implementation, when helpers.create_resource(desried_state, True, **dict) is called, it internally calls ocp.wait_for_resource(desired_status,resource_name). when a pod is created through these calls, the wait_for_resource is executing the commad "oc get DeploymentConfig <deploymentconf

[2019-06-12 11:41] RazTamir commented on #215
Few questions @hnallurv ,
1) what do you expect to happen after creating DeploymentConfig? what are we waiting for? a pod?
2) how do you know if everything is ok? -> how can I know what to wait for if there is no status?

[2019-06-12 15:38] vasukulkarni commented on #199
@dahorak assigning this to you for now, @petr-balogh FYI

[2019-06-12 16:41] clacroix12 commented on #207
Something else to add to this is that we have `tests/helpers.py`. As such I think having a `utility` module at the top level is probably unnecessary. These will most likely end up being framework specific functions and as such can be consolidated with the `framework` module as well.

Note `utility` needs some serious attention as there is a lot of code to be cleaned up here. Lots of remnants of ce

[2019-06-12 16:49] zmc commented on #207
I'm not sure if we want a separate issue for this, but something we could do either as part of this effort or before it is removing dead code. [vulture](https://pypi.org/project/vulture/) looks like it could be really helpful here.

[2019-06-12 16:53] zmc commented on #207
@clacroix12 I like your pythonic approach the most so far. Some of the subdirs might want to get renamed, removed, or split up, but that's less interesting here.

I think it's worth considering leaving the OCS tests (read: not unit tests) outside of the main package.

@RazTamir It's pretty standard practice to place user-facing docs outside of the package directory in a python project

[2019-06-12 16:56] clacroix12 commented on #207
@zmc I'm leaning towards that approach as well. So with your suggestion we would essentially have three top level dirs: `docs`, `ocs_ci`, and `tests`? This is assuming the `unittests` dir goes away since we will have unit tests inside their respective modules.

[2019-06-12 16:57] zmc commented on #207
@clacroix12 yeah, that seems right. #210 already removes the `unittests` dir as well!

[2019-06-12 17:01] mbukatov commented on #207
And this module should not be there: https://github.com/red-hat-storage/ocs-ci/issues/120

[2019-06-12 17:49] mbukatov commented on #207
I agree, and I read the proposal that this idea holds: `ocs-ci` being the root directory of the repository, so `tests` is a top level directory in the same way as `ocs` directory which is a python module.

[2019-06-12 17:54] vasukulkarni commented on #207
@clacroix12 +1 for the first one

[2019-06-12 17:58] clacroix12 commented on #207
Is there a reason why we shouldn't go with the standard python package approach?

[2019-06-12 18:02] vasukulkarni commented on #207
I totally missed that one, but yes to moving them under ocs_ci if it helps for packaging as one, but the goal is still to clone and run tests.

[2019-06-12 18:04] vasukulkarni commented on #207
What about the  .py files residing in TOP DIR?

[2019-06-12 18:06] clacroix12 commented on #207
@vasukulkarni Yeah ideally our usage won't change with this restructure. This is simply to organize the project, not make any functional changes to the workflow.

They can remain where they are, I'm mostly concerned with directories/modules with this. If there are specific files we want to relocate let's identify them but we can always take that up in another issue/PR.

[2019-06-12 18:15] mbukatov commented on #207
The first approach looks ok, but I would try to limit number of root python modules minimal so that it's clear what belongs to where.

Wrt 2nd approach, I think that having single `ocs_ci` python module is a good idea, but I would not included `tests` (already mentioned by @zmc ) and `conf` inside. Basically anything which won't be in the end tracked and installed by setuptools.

[2019-06-12 18:19] zmc commented on #207
Ah, good point. `conf` doesn't need to be in the python package, and once we move to single-defaults, it will really just be a set of example configs.

[2019-06-12 18:22] clacroix12 commented on #207
Would this also include `templates`?

[2019-06-12 18:25] mbukatov commented on #207
Templates would work both ways, because these are basically static files which could be packaged in the python module just fine.

You could either keep templates in root directory of the repo and then access them assuming these files are in the pwd, or keep it in the module and access it referencing to the module.

[2019-06-12 18:39] mbukatov commented on #73
@clacroix12 I agree using marker (as shown in your example) is the best approach. It also allow us to switch from property to xml attribute (or vice versa) without changing any test if CI updates requires it later.

The question whether to use properties (as you notes in the example) or record-xml attribute boils down to the needs of our CI pipeline and consumers of the junit xml file used there.

[2019-06-12 18:52] clacroix12 commented on #207
Okay so after taking recent comments into consideration we can potentially do the following:
- `unittests` goes away
- `conf` moves to top level
- `tests` moves to top level
- `utilites` are directed to one of two places, either `ocs` or `framework` depending on the nature of the utility.

Which gives us something like this:
[code]

[2019-06-12 19:06] #198 closed

[2019-06-12 22:03] RazTamir opened #219 "TestCase OCS-288 failing"
@prsurve this test case is failing.
Please fix as soon as possible

[2019-06-12 22:13] RazTamir commented on #219
As part of fixing it, please change the name of the file to 'test_ocs_288' or some more meaningful name.
Also, this is a tier2 testcase so please change this too

Thanks

[2019-06-13 04:11] nehaberry opened #221 "Requirement of a script to collect rook ceph logs upon test run failure"
Currently, when an automated test case fails (even due to product issue), we only get the run logs saved in /tmp.

It would be helpful to have rook-ceph container logs also collected so as to be able to use them in raising product bugs.

Please suggest.

[2019-06-13 06:23] jilju opened #223 "Add method to switch to another project"
It will be helpful having a method to switch to another project.

[2019-06-13 06:46] jilju commented on #223
PR #224

[2019-06-13 07:16] jilju opened #225 "Option to run command asynchronously"
It will be helpful to have an option like this -
Run a command locally and ignore. Later, check the status of the command and fetch the result.

[2019-06-13 07:19] RazTamir commented on #225
Hi Jilju,
Can you provide a background for this request?

[2019-06-13 13:42] vavuthu commented on #221
@nehaberry : If I understand correctly, we want to collect container logs when a test case fails and exit from the run, so that we can have cluster in the same state where test case fails?

[2019-06-13 14:24] prsurve commented on #219
Fix in #228

[2019-06-13 16:07] #219 closed

[2019-06-13 17:39] #211 closed

[2019-06-14 13:20] nehaberry opened #231 "Helpers.create_storage_class() needs separation in parameters for CephFS and RBD"
Test name =  https://github.com/red-hat-storage/ocs-ci/blob/master/tests/helpers.py
Function = create_storage_class()

The **parameters-> secret** section under RBD and CephFS storageclass.yaml files are different. Hence, we need to have a check in place and update the params accordingly in  create_storage_class() lines 184 to 189. Inhe  absence of this check, the cephfs storageclass is getting in

[2019-06-14 14:11] dahorak opened #233 "Downloading openshift client is broken"
Some of the recent changes in `master` branch break the way how configuration files are loaded and processed, which leads to issue with downloading openshift client.
Fresh deployment (without already downloaded client) fails.
(removed unrelated parts)

[code]

The problem is, that the variables from `conf/ocsci/default_config.yaml` are
not properly processed and to `client_version` variable is ass

[2019-06-14 14:18] dahorak commented on #233
The problematic commit seems to be 7e9442c9e25e25ac65f02d9f3b83ff628ad34035, related to PR https://github.com/red-hat-storage/ocs-ci/pull/214.

[2019-06-14 14:52] #233 closed

[2019-06-14 14:56] zmc commented on #233
https://github.com/red-hat-storage/ocs-ci/pull/210 would have also fixed this issue

[2019-06-14 14:57] mbukatov commented on #162
Directory `conf` will remain in the root directory, as discussed in hierarchy clarification issue https://github.com/red-hat-storage/ocs-ci/issues/207, which discusses structure of whole repository.

[2019-06-14 14:57] #162 closed

[2019-06-14 17:41] #168 closed

[2019-06-14 17:42] clacroix12 commented on #155
@mbukatov is this still a valid issue?

[2019-06-14 17:43] clacroix12 commented on #167
@vasukulkarni is this still a valid issue?

[2019-06-14 17:44] #121 closed

[2019-06-14 18:36] mbukatov commented on #120
This will be resolved as part of big https://github.com/red-hat-storage/ocs-ci/issues/207

[2019-06-14 18:36] #120 closed

[2019-06-14 18:37] mbukatov commented on #207
I closed https://github.com/red-hat-storage/ocs-ci/issues/120 noting that this will be done as part of this bigger restructure work. It needs to be aligned anyway and it's good not limit overlapping issues.

[2019-06-15 05:26] jilju commented on #225
@RazTamir
This is to address change request https://github.com/red-hat-storage/ocs-ci/pull/208#discussion_r292865732

[2019-06-15 05:29] jilju opened #235 "Method to create multiple PVC"
This will be helpful in scenarios where more than one PVC has to be created.

[2019-06-15 06:29] jilju commented on #235
PR #236 created to address this

[2019-06-15 19:00] RazTamir commented on #83
@keesturam @ebenahar we already have this right?
Can we close?

[2019-06-15 19:11] ebenahar commented on #83
@RazTamir @keesturam Closing

[2019-06-15 19:11] #83 closed

[2019-06-17 10:26] RazTamir opened #241 "Test ocs-288 comments"
Hi @prsurve ,

Few comments on test ocs-288.py
1) the tier level should be changed according to the Polarion
2) usage of delete_all_storageclass and delete_all_pvcs is not good:
In case you want to use such function you have to provide a list of resources to delete and never delete all as it can impact future changes to the product or our deployment (we might want to create few storageclasses afte

[2019-06-17 13:01] nehaberry opened #242 "Change csi/rbd/Storageclass.yaml to sync with upstream rook repo changes"
The contents of  templates/CSI/rbd/storageclass.yaml  due to recent changes [here](https://github.com/rook/rook/commit/8c5a1c502e47909b748f7d08e1f3e8dee346c31b)

The parameters/monitors field has changed to parameters/clusterID.

Based on this, we would need to change the storageclass.yaml [here](https://github.com/red-hat-storage/ocs-ci/blob/master/templates/CSI/rbd/storageclass.yaml)

**Link to

[2019-06-17 16:02] prsurve commented on #241
Fix for 1st comment is present in #228

[2019-06-17 20:23] #105 closed

[2019-06-17 22:46] clacroix12 commented on #73
#243

[2019-06-18 05:29] #235 closed

[2019-06-18 05:33] jilju commented on #225
PR #227 is merged. Hence closing this issue.

[2019-06-18 05:33] #225 closed

[2019-06-18 06:31] PrasadDesala opened #244 "test_pvc_invalid_inputs fails to get cluster namespace"
test_pvc_invalid_inputs is failing on upstream master,

================================================================================== ERRORS ===================================================================================
_________________________________________________________ ERROR collecting tests/manage/test_pvc_invalid_inputs.py _______________________________________________________

[2019-06-18 07:07] PrasadDesala commented on #244
PR #245 is submitted to fix this issue.

[2019-06-18 08:44] petr-balogh opened #246 "Fix env checker for deployment and destroy"
Deployment is now broken cause of #237 didn't count with deployment test is adding resources

[2019-06-18 09:25] RazTamir commented on #246
Why deployment test is inheriting from the base class?

[2019-06-18 09:47] mbukatov opened #248 "Simplify module structure to avoid using classess with unnecessary state"
## Description

In many cases, we have classes with state which prevents the objects being used in reasonable and efficient way. We should rethink this, keep classes only when it actually makes sense.

This is blocked by https://github.com/red-hat-storage/ocs-ci/issues/207, because it would be much good to organize and cleanup the code first before making additional changes in the design.

## Refe

[2019-06-18 11:07] petr-balogh commented on #246
@RazTamir it inherit from ecosystem test which inherit from base test class as other team's tests

[2019-06-18 12:01] mbukatov commented on #200
Summary based on:

 * https://github.com/red-hat-storage/ocs-ci/pull/237#discussion_r294360820
 * https://github.com/red-hat-storage/ocs-ci/pull/237#issuecomment-502802865

## Description

Instead of referencing fixtures via direct reference like this:

[code]

let's use [canonical pytest way of using fixtures](https://docs.pytest.org/en/latest/fixture.html), placing fixture into conftest.py file

[2019-06-18 12:32] #246 closed

[2019-06-18 12:51] RazTamir commented on #246
Ohh..

[2019-06-19 07:32] nehaberry commented on #242
We can take this up once the operator-openshift-with-csi.yaml is changed in our repo.

[2019-06-19 12:16] nehaberry opened #253 "Change operator-openshift-with-csi.yaml due to merged changes in rook repo"
The content of  operator-openshift-with-csi.yaml has changed due to this [rook PR](https://github.com/rook/rook/commit/61b9f9a9f09d4d97b80982202fc3311a93c0fdb0).

**Hence, we would need to do the following:**

1. **Update existing [operator-openshift-with-csi.yaml]**(https://github.com/red-hat-storage/ocs-ci/blob/master/templates/ocs-deployment/operator-openshift-with-csi.yaml) to sync with rook r

[2019-06-19 12:17] nehaberry commented on #253
I am taking this up and will be sending the patch as part of PR #226 , since all these changes are inter-related.

[2019-06-19 15:51] vavuthu opened #255 "Email Results"
We need mechanism to send reports by email once the test run is completed

[2019-06-19 17:19] #223 closed

[2019-06-19 20:09] clacroix12 commented on #73
Closing as #149 and #243 are complete. Any subsequent issues or enhancements around reporting can be raised in their own issues.

[2019-06-19 20:09] #73 closed

[2019-06-20 07:58] #112 closed

[2019-06-20 07:58] #181 closed

[2019-06-20 07:58] #253 closed

[2019-06-20 12:51] mbukatov opened #262 "Test case for OCS-324 is broken"
Test case for OCS-324 is invalid, it's teardown function calls delete() on None object.

[code]

We should:

 * see which value do we expect in `PVC_OBJ` in teardown
 * not pass values between test and setup/teardown functions via global variables or injecting random attributes to a test class
 * recheck if the structure of the test case makes sense

[2019-06-20 12:54] mbukatov commented on #262
Moreover it's environment_check fails:

[code]

[code]

[2019-06-20 12:59] mbukatov opened #263 "Fixture create_rbd_secret from tests/fixtures.py is accessing test class"
Fixture `create_rbd_secret` is accessing test class via `request.node.cls` and expects that the object has `secret_obj` attribute.

This is wrong, because it's not immediately clear that this assumption exists, so that test case authors can miss that, which will make the teardown fail, eg.:

[code]

We should never access class attributes from fixture code, because such dependencies are hard to tr

[2019-06-20 13:02] mbukatov opened #264 "Test case for OCS-347 is broken"
The teardown of the test case is accessing `PVC` which is not defined:

[code]

[code]

[2019-06-20 13:08] mbukatov opened #266 "Most of tests doesn't work because global state in defaults is not preserved"
I tried to run all tests (via `-m polarion_id tests/`) and it turns out that most of the test doesn't work. One reason behind this is the fact that the test code expects the defaults to be unmutable, but every other test actually changes it.

This leads to problems like:

[code]

Or

[code]

I haven't retried if the particular errors are caused by the issue I'm raising here, but on the other hand,

[2019-06-20 13:14] mbukatov commented on #262
The reason behind the problem is related to the fact that the test execution itself failed on a timeout:

[code]

We need to make sure that teardown doesn't fail because of failure in a test case.

The timeout itself is a different question.

[2019-06-20 13:26] mbukatov commented on #207
What is the status now? Do we wait for some test cases to be merged and if yes, which are these?

[2019-06-20 16:03] zmc commented on #207
Yeah, we should definitely at least get that one merged first.

[2019-06-20 17:12] clacroix12 commented on #207
Definitely want to get this one merged first. I'm wondering if we want to do this restructure all at once and cause a big disruption or if we can somehow do it in pieces to lessen the impact.

[2019-06-20 19:26] mbukatov commented on #207
I would like to do this at once, with an agreement on a schedule with all stakeholders.

But maybe we could stage it as well, by:

* creating the future structure all at once, but without moving anything there
* selecting a group of directories and move it to the new place without moving the rest

The grouping could be selected based on work and discussion related to particular move, or to optimiz

[2019-06-20 19:28] #266 closed

[2019-06-20 19:58] clacroix12 commented on #207
This is my fear as well. In trying to avoid conflicts we could potentially cause more if these were delayed enough.

My thinking is this: create the `ocs_ci` top level module and place all relevant modules under that leaving `conf`, `docs`, and `tests` outside(at the top level). This will be the biggest structural change and will have an impact on open PRs. Following that in subsequent PRs we can

[2019-06-20 21:26] #88 closed

[2019-06-20 22:40] ebenahar opened #268 "Move wait_for_resource() out of OCP() class"
In some cases, when we want to call wait_for_resource() for an existing resource that we don't have its corresponding instance, we must instantiate OCP() class.

For example, when we want to wait for a pod that already exists in the cluster, we need to instantiate OCP() class and only then to call wait_for_resource().

It would be better to have it as a function instead of OCP() class method.

[2019-06-21 00:59] RazTamir commented on #268
Hi,

For every resource you have ocp initialization as part of it and you can just use pod_obj.ocp.wait_for_resource()

Let's try to implement missing pieces in OOP way and not creating a long list of helper functions

[2019-06-21 06:52] mbukatov commented on #155
Ok, so this is caused by few things:

 * few hacks in our codebase
 * me supposing that non editable installation will work

When we are done with restructure of the repo, it will be possible to:

* drop `run_ocsci.py` from root repo, moving the code into `main` module entirely
* drop `setenv = PYTHONPATH=.` from tox.ini

[2019-06-21 06:52] #155 closed

[2019-06-21 06:57] mbukatov opened #270 "Move code from `run_ocsci.py` to `ocsci.main`"
When is #207 resolved, drop `run_ocsci.py` from root repo, moving the code into `ocsci.main` module entirely.

[2019-06-21 06:58] mbukatov commented on #270
@dahorak originally planned to do this in https://github.com/red-hat-storage/ocs-ci/pull/261#discussion_r295866932, but we concluded that it's better to wait for #207 for us to resolve it properly with less work.

[2019-06-21 07:07] mbukatov commented on #207
This is very good idea. It strike a right balance between doing all the changes at once vs having long discussion about every refactoring/move/change one by one. There will be some additional plumbing work required in the 1st step (eg. setuptools config, locating static files inside ocs_ci via module, not working directory), but this is negligible compared to consolation and refactoring which will

[2019-06-21 07:12] mbukatov opened #271 "drop `setenv = PYTHONPATH=.` from `tox.ini`"
When is #207 resolved, drop `setenv = PYTHONPATH=.` from `tox.ini` (identify and fix any hacks necessary for this to work).

[2019-06-21 07:39] fbalak opened #272 "Removed ocsci/config.py is still referenced from code"
`ocsci/config.py` was removed in https://github.com/red-hat-storage/ocs-ci/pull/210. This file is [still referenced from many places in code](https://github.com/red-hat-storage/ocs-ci/search?q=ocsci.config&unscoped_q=ocsci.config) and it breaks some tests.

[2019-06-21 07:54] fbalak commented on #272
After more searching it seems ok as config is now variable in ocsci module (https://github.com/red-hat-storage/ocs-ci/blob/master/ocsci/__init__.py).

[2019-06-21 07:54] #272 closed

[2019-06-21 10:10] PrasadDesala commented on #244
PR is merged. Closing this issue.

[2019-06-21 10:10] #244 closed

[2019-06-21 12:45] fbalak commented on #193
Fixed by https://github.com/red-hat-storage/ocs-ci/pull/213.

[2019-06-21 12:45] #193 closed

[2019-06-21 17:00] andrewschoen opened #276 "Avoid the pattern of doing a deepcopy of global data in tests"
The current ``defaults.py`` holds dictionaries that contain data loaded from local yaml files. I.e. https://github.com/red-hat-storage/ocs-ci/blob/master/ocs/defaults.py#L79

These values are then loaded into tests, deep copied, modified and then used in the test. I.e. https://github.com/red-hat-storage/ocs-ci/blob/master/tests/manage/test_ocs_336_346.py#L37-L48

I think this is not a good pattern

[2019-06-21 17:16] mbukatov commented on #276
I agree that we need to make the test code to use either a function or a fixture, which will construct the dictionary based on the yaml file for the test.

The usage of such utility function could look like:

[code]

or:

[code]

[2019-06-21 18:01] RazTamir commented on #276
+1 on the proposed approach.
Can I take this issue?

[2019-06-21 18:16] vasukulkarni commented on #276
@RazTamir it would require modifying some of the existing tests,  I see around 30% failure when I run all tests at once.

Aslo please provide some rough template of how the interface to utility functions looks like, I am not clear on @mbukatov comment above on create/apply methods.

[2019-06-21 18:20] clacroix12 commented on #71
The work for this has been done in #269 and ﻿#277 so far. Additional cleanup of legacy (ceph-ci) code that is no longer of use to us will be done in a separate issue/PR.

[2019-06-21 18:49] andrewschoen commented on #276
A fixture could be a nice approach too. For instance a fixture that does something like this:

[code]

[2019-06-21 18:52] clacroix12 commented on #276
@vasukulkarni I believe this is only addressing how tests will access the dictionaries that they modify. Nothing should change around how they use those dictionaries in their tests, including oc create/apply.

[2019-06-21 19:26] zmc commented on #276
Might even want to name the utility function something like `get_crd_template()` to reflect what it's going to give you. The caller doesn't necessarily need to know that the source is a yaml file, and the function can't guarantee the object will be a `dict` - many CRDs are `list`s of `dict`s.

[2019-06-22 19:34] RazTamir commented on #276
@zmc, in which cases we will get a list of dicts if the intention here is to create a resource based on a yaml file?

[2019-06-22 20:06] RazTamir commented on #276
check this and let me know wdyt - https://github.com/red-hat-storage/ocs-ci/pull/279

[2019-06-23 07:30] shylesh commented on #262
Hitting same error during resource cleanup.
______________ ERROR at teardown of TestClusterUtils.test_add_mds ______________

tp = <class 'KeyError'>, value = None, tb = None

    def reraise(tp, value, tb=None):
        try:
            if value is None:
                value = tp()
            if value.__traceback__ is not tb:
                raise value.with_traceback(tb)

venv/lib64/python3.7/

[2019-06-23 07:34] sidhant-agrawal commented on #262
The script needs update after the merge of PR #226.
I'm going to raise a PR for this issue

[2019-06-24 10:03] prsurve commented on #231
Fix present in #232

[2019-06-24 10:03] #231 closed

[2019-06-24 15:32] andrewschoen opened #285 "Use the provided setup and teardown class methods pytest supports"
In the following test there is a ``setup`` and ``teardown`` method that should be a part of the class and not used as class fixtures. https://github.com/red-hat-storage/ocs-ci/blob/master/tests/manage/ocs_288.py

The ``setup`` and ``teardown`` should be a part of ``class TestCaseOCS288``. In this way we can avoid the use of the GLOBAL keyword in those methods. Things like ``RBD_SECRET_OBJ`` and ``

[2019-06-24 15:48] RazTamir commented on #285
In this link, the usage of setup and teardown are from the unittest world and replaced with fixutres in pytest:
"Note
While these setup/teardown methods are simple and familiar to those coming from a unittest or nose background, you may also consider using pytest’s more powerful fixture mechanism which leverages the concept of dependency injection, allowing for a more modular and more scalable app

[2019-06-24 16:05] andrewschoen commented on #285
@RazTamir yeah, fixtures can work here too. My issue is really with the use of ``GLOBAL`` keyword here. Those really feel like state that should exist on the class and not global state.

[2019-06-24 16:27] alfredodeza commented on #285
@RazTamir the reference to pytest's documentation explains the usage of teardown (via the finalizer) in a fixture, however the test used as an example is using a fixture to teardown the test - this is an anti-pattern because the fixture isn't providing anything to the test itself except to teardown. I think this is why it has to depend on using `global`.

Using asserts to verify correctness like i

[2019-06-25 06:25] jhutar opened #288 "tests/ecosystem/destroy/test_destroy_cluster.py::TestDestroy::test_destroy_cluster expects aws"
Test `tests/ecosystem/destroy/test_destroy_cluster.py::TestDestroy::test_destroy_cluster` expects aws deployment. I'm running with this metadata.json:

[code]

and test fails with:

[code]

Also test passes and that is probably a bug as well (because of the `try: ... except Exception: ...` in `destroy_cluster`.

[2019-06-25 09:10] fbalak opened #289 "Deployment of cluster doesn't work as documented"
If I start deployment of cluster with command:
[code]
then it installs cluster correctly but if I don't provide path to `test_ocs_basic_install.py`:
[code]
then it fails with error:
[code]
It seems that there is some conflict in fixture gathering since https://github.com/red-hat-storage/ocs-ci/pull/176.

[2019-06-25 11:13] parikshithb commented on #264
It is working in the latest master. I have attached log.

http://pastebin.test.redhat.com/774704

[2019-06-25 11:18] #289 closed

[2019-06-25 11:25] fbalak opened #291 "test_multiple_pvc_concurrent_creation_deletion raises KeyError"
Test `test_multiple_pvc_concurrent_creation_deletion` raises an error:
[code]

[2019-06-25 12:33] petr-balogh commented on #288
@jhutar I answered in you email, I think that you shouldn't run on your env this test at all.
We don't support deploy/destroy for other platform yet, so once we will do we are going to decompose deploy and destroy to support also other platforms.  I am going to close this issue as this is not expected yet to work. In case of some additional requirements for rhhi.next env, you should open the RFE f

[2019-06-25 14:01] RazTamir commented on #291
Fixed with https://github.com/red-hat-storage/ocs-ci/pull/292

[2019-06-25 16:37] vasukulkarni opened #293 "add marker for framework test that use real cluster"
We have couple of tests taht needs running cluster for them to work and test the libraries, add marker -> "libtest" for those tests to distinguish from other tier tests.

[2019-06-25 18:16] jilju commented on #291
@fbalak Did you hit test failure for 'test_multiple_pvc_concurrent_creation_deletion'  or it error out only in tear down part?
The [comment](https://github.com/red-hat-storage/ocs-ci/pull/292#issuecomment-505458810) shows that one PVC (out of 200 PVCs) and its associated PV remained and that was found in environment check.
I wonder why I am not hitting this issue. I executed the test case three ti

[2019-06-25 21:30] petr-balogh opened #294 "Change of project before the execution will break a lot of tests."
Found the issue that if you change project to default or some other before execution like `oc project default` than some tests will fail as you can see:

[code]

This happens if we don't pass namespace to the oc commands which is done for example when initializing object `OCP` from ocs/ocp.py module and the result is as you can see above.

Once project changed to openshift-storage, the testcase pa

[2019-06-26 04:05] tmuthamizhan opened #296 "deployment of ocs on aws using run-ci still reports error"
Deployment of ocs on AWS still fails with "Unable to connect to Server" error.

Pasting below the log for reference.

(ocs) MacBook-Air:ocs-ci tmuthamizhan$ run-ci -m deployment --ocsci-conf conf/ocsci/default_config.yaml --cluster-conf conf/ocs_basic_install.yml --cluster-name tamil --cluster-path /Users/tmuthamizhan/newt1 --log-level=DEBUG --deploy
The kubeconfig file /Users/tmuthamizhan/newt1/a

[2019-06-26 05:18] fbalak commented on #291
@jilju The error was triggered in teardown part but when I tried PR https://github.com/red-hat-storage/ocs-ci/pull/292#issuecomment-505509418 it failed in test. I will test it more today.

[2019-06-26 08:27] RazTamir commented on #296
@tmuthamizhan I'm not sure if that is the issue but seems like you cli command is wrong.
Try to execute with this (removed: --ocsci-conf conf/ocsci/default_config.yaml):
 run-ci -m deployment --cluster-conf conf/ocs_basic_install.yml --cluster-name tamil --cluster-path /Users/tmuthamizhan/newt1 --log-level=DEBUG --deploy

[2019-06-26 09:08] RazTamir commented on #294
Maybe this can be solved if in case namespace is not provided, to add --all-namespaces to get()?

[2019-06-26 09:34] RazTamir commented on #285
The only way I can see this work is to use setup fixture that will initialize all those attributes and the class will use it.

[2019-06-26 12:35] alfredodeza commented on #285
I don't think there is a need at all to have a fixture to setup/teardown the test methods. That is what setup and teardown are for. If more than one class is going to use the same setup/teardown helpers then it would be OK to use a base class (even though I dislike inheritance).

Perhaps if you could expand more as to why this approach is being preferred?

[2019-06-26 18:54] clacroix12 opened #302 "log files are not being generated for deployment"
I ran a deployment and the only log file that was included in my logs directory was for the minimal cluster connectivity test. No log files for the actual deployment were included in the log directory.
[code]
That log file includes the following:
[code]

I suspect this issue stems from the fact our deployment is now a fixture, and this issue possibly extends to all other fixtures that include some

[2019-06-26 19:26] andrewschoen commented on #302
I'll take a look at this one.

[2019-06-26 21:50] andrewschoen commented on #302
Is there a reason we wrote our own custom logging and didn't use something like ``pytest-logger``? I did a quick test and using it I was able to see logs from the deployment session fixture. It also has some nice features like split_by_outcome which will organize logs also by which failed, passed, etc.

I get a tree like this locally when I force a deployment failure.

[code]

I'd like to propose

[2019-06-27 04:41] jilju commented on #291
@fbalak
The KeyError issue is now Fixed in #292.
The basic issue was that PVC is not moving to Bound state. Can you confirm if this is related to rook issue [3357](https://github.com/rook/rook/issues/3357)

[2019-06-27 05:58] vavuthu commented on #302
I spent some time on pytest-logger initially and I think logging format in the log files are bit odd.

[2019-06-27 07:45] ebenahar opened #303 "Provide a way to SIGKILL a pod"

[2019-06-27 08:57] fbalak commented on #291
@jilju Yes, it seems like it.

[2019-06-27 09:30] jhutar commented on #288
Oh, yes, I'm fine. Thank you!

[2019-06-27 09:30] #288 closed

[2019-06-27 14:42] andrewschoen commented on #302
I'm fairly certain we'd be able to change that format. Let me look into that.

[2019-06-27 15:06] andrewschoen commented on #302
Yup, you can use a custom ``logging.Formatter`` class to set the format. The logs now look like this, based on the format we're using currently.

[code]

[2019-06-27 16:41] vavuthu commented on #302
If pytest-logger solves the problem, I am OK with change.

[2019-06-27 20:22] zmc opened #305 "Fix our packaging"
Let's do some work to make sure we can `pip install` the project and have it work as expected.

I expect I'll take this work up, but in case anyone's curious, the discussion started [in the restructure PR](https://github.com/red-hat-storage/ocs-ci/pull/301#issuecomment-506493769).

[2019-06-28 08:28] mbukatov opened #308 "Investigate and fix unit test run failure of test_config_parametrize on Fedora"
When I run tox on Fedora, `test_config_parametrize` unit tests fail on:

[code]
[code]

## Version

ocs-ci commit 68febf9

## Additional Information

* [TravisCI job for commit  68febf9 works](https://travis-ci.org/red-hat-storage/ocs-ci/jobs/551654641)

[2019-06-28 08:33] vavuthu commented on #255
PR #298 sent

[2019-06-28 08:33] vavuthu commented on #255
Closing this issue as PR #298 is merged

[2019-06-28 08:33] #255 closed

[2019-06-28 08:41] mbukatov commented on #264
Please provide a link to commit which fixed the problem.

[2019-06-28 11:31] parikshithb commented on #264
Fixed the problem with teardown.
Currently test is failing due to this bz : https://bugzilla.redhat.com/show_bug.cgi?id=1724179

[2019-06-28 13:17] nehaberry commented on #221
@vavuthu yes correct.
Following logs will be helpful in case of any test failure for raising bugs:
1. Collect all pod logs of openshift-storage product
2. The test run log saved as part of test run
3.  the versions and image names

It would help if tearodwn/cleanup is performed after these logs are collected.

[2019-06-28 13:24] vavuthu commented on #221
Assigning to myself.

[2019-06-28 18:12] shylesh commented on #303
I tried another (not so clean) way of achieving this.
./bin/oc exec -it rook-ceph-mon-a-64fbcdc95f-ssz57  -n openshift-storage --   gdb -p 1 -batch -ex "signal 9"
[New LWP 44]
[New LWP 43]
[New LWP 42]
[New LWP 41]
[New LWP 40]
[New LWP 39]
[New LWP 38]
[New LWP 37]
[New LWP 36]
[New LWP 35]
[New LWP 34]
[New LWP 33]
[New LWP 32]
[New LWP 31]
[New LWP 30]
[New LWP 29]
[New LWP 28]
[New LWP 12]
[Ne

[2019-06-28 19:03] vasukulkarni opened #312 "dont return yaml output by default for oc exec"
we may run many commands whose output will not be yaml safe loadable, lets take that as an option when we run the oc_cmd

ex: https://github.com/red-hat-storage/ocs-ci/blob/master/ocs/ocp.py#L74

[2019-06-28 19:18] zmc commented on #312
I would encourage simply not doing anything magical here, and returning the output. The caller must know what format to expect, and asking them to simply perform a one-liner isn't a large burden.

It also clears up the incorrect return type in the docstring.

[2019-06-28 21:15] clacroix12 commented on #207
Completed in #301

[2019-06-28 21:15] #207 closed

[2019-06-28 21:29] RazTamir commented on #312
As we are wrapping oc cli commands let's act like it:
If the caller asked for output as yaml, yaml.load the output (default is true as this is more common use case).
In case not, just return the output string.

BTW, this issue came from the workload PR if I'm not mistaken, and it will need to be dict (yaml) as well for easier accessing to the output from fio

[2019-06-28 21:59] vasukulkarni commented on #312
I am thinking the same to set default to True to not break the existing test cases, @zmc I agree with your statement, return the raw stdout and let the caller decide, but I dont want to break the existing tests so just going to default to True for now and fio test will set it False when it call run_cmd.

[2019-06-28 22:41] RazTamir commented on #303
@ebenahar , looks like the current implementation is ok - https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods
when passing --grace-period=0 --force you basically send SIGKIL

[2019-06-29 10:15] ebenahar commented on #303
@RazTamir thanks for checking! @shylesh based on the above, are you ok with closing the issue?

[2019-06-29 17:55] shylesh commented on #303
Ya sure, please go ahead.

[2019-06-29 19:38] #303 closed

[2019-07-01 06:31] mbukatov commented on #271
Resolved as part of restructure https://github.com/red-hat-storage/ocs-ci/pull/301

[2019-07-01 06:31] #271 closed

[2019-07-01 06:35] Akarsha-rai opened #314 "Comment the pv name validation on TC-372"
If we are validating the presence of PVs in ceph backend using oc "pv_name" parameter, we are facing issue because rbd-image output does not have the exact pv name due to the bug: https://bugzilla.redhat.com/show_bug.cgi?id=1723656. So need to comment the pv validation part on TC-372(test_pvc_delete_verify_size_is_returned_to_backendpool.py) until we find the solution to map the pv name.

[2019-07-01 06:46] shreekarSS commented on #314
I have fix for this script,will push

[2019-07-01 09:35] nehaberry opened #317 "Need change in yaml files in OCS deployment and csi based files"
Description:
Due to the merged changes in CSI based yamls on  [rook git repo](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/), there are modified yamls for the following. Accordingly, we would have to change our deployment templates in OCS-CI.

Files used for chnage in ocs-ci repo copied from :
PR merged in rook repo (update rook to use ceph-csi canary version): https:/

[2019-07-01 15:41] zmc opened #319 "Move away from using templated CRDs"
I was reminded of this by https://github.com/red-hat-storage/ocs-ci/issues/317

We're going to keep having to do things like this. Instead, we ought to use CRDs from either the upstream git repo, or from a package (in a downstream context). We can then write a small amount of code to modify those values which differ from the default setting.

This isn't just a matter of convenience. With downstrea

[2019-07-01 16:42] vasukulkarni opened #320 "default cluster-name is broken"
Not sure which commit caused this but will look into it.

[2019-07-01 18:52] andrewschoen opened #322 "automatically generate result report and store it with the logs"
Automatically provide the ``--junit-xml`` flag and generate an html report of the test results with ``junit2html`` and store it in the logs directory.

[2019-07-01 19:55] vasukulkarni opened #323 "limit the size of console logs we are printing out in some tier1 tests"
some tier tests are printing way too much data to console, makes it difficult to debug what acutally failed, fix those.  As a side effect our html report is bloated too..

- [ ] tier1: identify/ fix tests
- [x]  html report size: check html report size

[2019-07-01 22:54] vasukulkarni commented on #323
So the issue mainly seems to be from the single debug line(all namespace output i guess)
https://github.com/red-hat-storage/ocs-ci/blob/master/ocs_ci/utility/utils.py#L376

[2019-07-01 22:55] vasukulkarni commented on #323
Can be solved from this PR too https://github.com/red-hat-storage/ocs-ci/pull/306

[2019-07-02 03:58] nehaberry opened #325 "teardown reports "Error" when a half-installed cluster is destoyed"
Description:

There are scenarios when "deployment" of a cluster fails due to some resource constraints(VPC limit, load balancer limit) , etc.

In the event of above failure, if we initiate teardown of the said cluster, even though teardown finally succeeds, the run fails with following error message:

[code]

But as the OC cluster was not up , its expected  not to get any output for "cluster-info

[2019-07-02 04:00] nehaberry commented on #325
[code]

[2019-07-02 04:02] nehaberry commented on #325
@petr-balogh @vavuthu please suggest .

[2019-07-02 04:03] vavuthu commented on #325
Assigning to myself

[2019-07-02 07:28] mbukatov commented on #322
I would suggest to consider just generating the junit xml report, as the further processing really depends on what one is actually doing.

[2019-07-02 07:29] vavuthu commented on #221
PR #327 submitted

[2019-07-02 07:29] mbukatov commented on #55
I consider this addressed.

[2019-07-02 07:29] #55 closed

[2019-07-02 08:29] sidhant-agrawal commented on #262
The test_ocs_324.py script which is renamed to test_delete_create_pvc_same_name.py is passing
[code]

[2019-07-02 08:32] sidhant-agrawal commented on #262
Closing this issue.

[2019-07-02 08:32] #262 closed

[2019-07-02 09:07] vavuthu opened #328 "loading of report fails with ~ operator in html location"
If we use ~/report.html with --htnml option, it fails in reading html since we are reading html location directly.

Error:

[code]

[2019-07-02 11:01] vavuthu commented on #328
PR #330 submitted

[2019-07-02 11:01] #328 closed

[2019-07-02 11:10] vavuthu opened #331 "remove the loading of logs in reports( web )"
It will take lot of time to load reports in web when we have logging content is more. There is no reason to show the logs in web since we have link to each log file,

[2019-07-02 12:54] ebondare commented on #209
Also, the names of the test functions are swapped: test_basics_cephfs is using CSI_RBD_SECRET_YAML, CSI_RBD_STORAGECLASS_YAML etc, while test_basics_rbd uses CSI_CEPHFS_SECRET_YAML, CSI_CEPHFS_STORAGECLASS_YAML and CSI_CEPHFS_PVC_YAML

[2019-07-02 15:40] vasukulkarni opened #335 "--teardown on partially destroyed cluster fails"
we need to ignore those errors during teardown

[code]

[2019-07-02 15:57] #302 closed

[2019-07-02 15:59] vasukulkarni commented on #323
#306 is merged, testing with latest master!

[2019-07-02 19:10] clacroix12 commented on #285
I agree that these fixtures that only call setup/teardown don't offer us any value. There is a pytest way of implementing setup and teardown that we should follow if that is the goal of the fixture.

[code]

This block of code appears in almost all of our test modules and is completely unnecessary given pytest provides a way for us to implement setup/teardown at basically any level (module, class,

[2019-07-02 22:37] shylesh opened #338 "Cleanup pod and pvc resources in test_fio_workload"
pod and pvc resources needs cleanup in test_fio_workload to avoid ResourceLeftOverException. Also need a function to find PV for a given PVC

[2019-07-03 00:53] RazTamir commented on #338
I will start working on this today

[2019-07-03 00:55] RazTamir commented on #338
Ok ignore.
I see Shylesh already on this

[2019-07-03 03:45] vasukulkarni opened #342 "test_pvc_delete_verify_size_is_returned_to_backendpool.py:137: assert _rc, f"pv doesn't exist on backend""
Test fails when run with -m tier1

[code]

[2019-07-03 03:56] vasukulkarni commented on #342
@Akarsha-rai feel free to re assign if you are not the original owner.

[2019-07-03 03:58] vasukulkarni opened #343 "KeyError: 'data' - test_create_storage_class_pvc.py::TestOSCBasics::test_basics_cephfs"
Fails during -m tier1

[code]

[2019-07-03 04:07] vasukulkarni opened #344 "TestBasicPVCOperations::test_ocs_347"
seems basic not sure rbd csi yaml related
[code]

[2019-07-03 04:10] vasukulkarni opened #345 "Error from server (AlreadyExists): project.project.openshift.io "test-project" already exists"
failed with -m tier1 run

[code]

[2019-07-03 04:12] vasukulkarni commented on #345
and the same test script before failed with

[code]

[2019-07-03 04:16] vasukulkarni opened #346 "Add option to skip resource leftovers for debugging"
for debugging we also need option to skip resource leftover checks

eg:

[code]

[2019-07-03 05:53] jilju commented on #345
This will be fixed as an additional requirement in PR #316.

[2019-07-03 06:32] nehaberry commented on #106
Fixed in [PR-111](https://github.com/red-hat-storage/ocs-ci/pull/111) , hence closing this issue as FIXED

[2019-07-03 06:32] #106 closed

[2019-07-03 06:35] nehaberry commented on #242
Closing this issue as its fixed in above mentioned PRs.

[2019-07-03 06:35] #242 closed

[2019-07-03 06:36] jilju commented on #291
The KeyError issue is fixed in PR #292
Changes introduced in PR #318 fixedw the PVC Bound issue.
Closing this issue as fixed.

[2019-07-03 06:36] #291 closed

[2019-07-03 07:22] Akarsha-rai commented on #342
@vasukulkarni sent a PR: #347

[2019-07-03 13:16] dahorak opened #349 "Parameter run_id not confiugred since PR #306 was merged"
Previously `RUN['run_id']` configuration was set in `ocs_ci/framework/pytest_customization/ocsci_logging.py` module[1] but it was removed as part of PR https://github.com/red-hat-storage/ocs-ci/pull/306. Now `run_id` is not set and is reported as `None`.

For example Subject of yesterday's email report looks like this:
`  ocs-ci results for RUN ID: 1562075179`
while today it looks like this:
`  oc

[2019-07-03 15:18] mbukatov commented on #346
Isn't this just a check performed during teardown? If yes, how does this make debugging harder?

[2019-07-03 15:39] vasukulkarni commented on #346
@mbukatov the intention is to see a how a run looks like with this check skipped, so that the final result will only display real test failures and I would like to see those tracebacks

[2019-07-03 16:13] mbukatov commented on #346
Hmm, if the check prevents you from seeing actual test failures, there is something wrong. I would expect that in case of some problem happening during test, you will see both errors (one during a test phase, and the error caused by failed resource check during teardown phase).

Eg. in case of some older results https://gist.github.com/mbukatov/31b5df93ae194fa4048c225264d6fad9 I see that when the

[2019-07-03 18:52] RazTamir commented on #346
I'll be happy to see an example of what is the issue with the environment check that causes other failures not to be presented

[2019-07-03 19:01] #320 closed

[2019-07-03 19:03] RazTamir commented on #285
So what all of you suggesting?
By mentioning setup and teardown, are you referring to setup and teardown of unittest?

[2019-07-03 19:08] clacroix12 commented on #285
We are suggesting that instead of creating fixtures like the [block of code in my previous comment](https://github.com/red-hat-storage/ocs-ci/issues/285#issuecomment-507807742), we utilize setup/teardown methods described here: https://docs.pytest.org/en/latest/xunit_setup.html

Since that fixture only exists to kick off setup/teardown methods we should just implement setup/teardown methods correc

[2019-07-03 20:21] zmc opened #350 "ocs_ci.utility.utils.run_cmd() should log output as it is generated"
The current implementation of `run_cmd()` uses `subprocess.run()` instead of `subprocess.Popen`. As a result, it has to wait for the command to finish executing in order to log any output.

For short-running commands, this is hardly noticeable; for longer ones like `openshift-install`, it's problematic. We should write the output of the command to stdout/stderr as normal, while buffering internall

[2019-07-03 20:32] zmc commented on #350
An example that also shows how the logging ends up out-of-order:
[code]

[code]

[code]

[2019-07-04 07:33] #349 closed

[2019-07-04 09:39] ebenahar commented on #285
We all should be using fixtures in this way:

[code]

Each of these fixtures has also a finalizer in it so teardown is being taken care of.

The block of code you @clacroix12 have mentioned is not the correct usage of fixtures, I totally agree.
But I disagree that we should stop using pytest fixtures

[2019-07-04 11:11] nehaberry opened #356 "Need option to either enable or disable "Collecting Cluster versions" during test run"
As a user, it would be good to have an option in run-ci to enable/disable the "Collecting Cluster versions" while running any test case.

Also, it would be helpful if we could use "Collecting Cluster versions" independent of any test case in run-ci, so that we can collect version information of our running cluster at any required time (e.g before raising a bug)

Thanks

[2019-07-04 11:12] nehaberry commented on #356
@vavuthu please suggest

[2019-07-04 11:34] mbukatov commented on #356
I plan to rewrite this code anyway, as part of https://github.com/red-hat-storage/ocs-ci/pull/185 (which we agreed in https://github.com/red-hat-storage/ocs-ci/pull/298#discussion_r298140306).

[2019-07-04 11:39] mbukatov commented on #356
@nehaberry I will take your suggestion into account in #185

I believe that this won't be necessary when softer approach is used (without direct interaction with ceph, rook or other storage components).

In #185, I suggested to create a plain text file with version report, which could be copy pasted into bugzilla. That said, I will also think about a way to report versions without running any test

[2019-07-04 20:15] clacroix12 commented on #285
Nobody is saying we should stop using fixtures, rather we should implement them correctly if we're going to use them.

[2019-07-05 12:45] RazTamir opened #360 "Deployment is broken because of https://github.com/red-hat-storage/ocs-ci/pull/230"

[2019-07-05 13:22] #345 closed

[2019-07-05 16:19] vasukulkarni commented on #312
Fixed

[2019-07-05 16:19] #312 closed

[2019-07-05 16:20] vasukulkarni commented on #323
@clacroix12 . @andrewschoen  can you check this one, I still see debug logs printed with default settings.

[2019-07-05 16:42] clacroix12 commented on #360
@RazTamir do you have a stacktrace or logs for this failure?

[2019-07-05 16:47] Shrivaibavi commented on #360
@RazTamir The fix for this patch is sent and got it merged too. Please check this PR
https://github.com/red-hat-storage/ocs-ci/pull/359

[2019-07-05 17:06] RazTamir commented on #360
Yes,

(.venv) [~/git/ocs-ci]$ run-ci -m deployment -vrA --no-print-logs --cluster-conf conf/ocs_basic_install.yml --cluster-name ratamir-ocs-new --log-level DEBUG --cluster-path /home/ratamir/ocs_autmation --capture=no tests/ --deploy
The kubeconfig file /home/ratamir/ocs_autmation/auth/kubeconfig doesn't exist!
==================================================================================== t

[2019-07-05 21:02] vasukulkarni commented on #285
We can address the Global usage of resources first and fix all test scripts and then address the setup/teardown methods which I see as a thin line of separation based on test cases.

[2019-07-05 23:42] #360 closed

[2019-07-07 12:43] RazTamir opened #363 "log the yaml output from create function to align to u/s rook tests"

[2019-07-07 12:48] RazTamir opened #364 "Create a function for full flow pod creation"
The function should take care of all dependencies for pod creation: secret, interface (blockpool, filesyste), storageclass, pvc.

This flow is very basic and should save a lot of lines of code

[2019-07-07 12:51] RazTamir opened #365 "create a new namespace (and switch to it) per test as part of class fixture - top level"
We should create a new namespace for each new test and switch to it so all new resources will be created in it.
The teardown should take care of retrieving to the original state

[2019-07-07 13:00] RazTamir commented on #363
addressed in https://github.com/red-hat-storage/ocs-ci/pull/366

[2019-07-08 14:38] hnallurv opened #370 "fio setup fails on fedora pod"
fio setup fails on fedora pod with error message mentioned below. It appears that setting up of fio is failing when it tries to do "yum install fio" on fedora pod. This command requires root access which is not available on fedora pod.

tests/manage/test_expand_cluster_by_adding_backend_vol.py:427:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

[2019-07-08 14:51] nehaberry opened #371 "Need for fio filename in pod.py/run_io function"
For some of the use cases, a user may need to write multiple files on the same mount point shared between multiple pods (RWX). If we use FIO to write data, it would be helpful to be able to specify the filename to be created on the mount point by each of the participating app pod.

e.g in
workload_io_rw.yaml, we have folloing configurable params:

name: fio-rand-readwrite
**filename: fio-rand-read

[2019-07-08 14:52] nehaberry commented on #371
Assigning this to myself. working on sending the PR.

[2019-07-08 14:56] ebenahar opened #372 "Move PV existence validation to PVC class"
We should validate that the PV was deleted as part of PVC.delete()
The implementation should be taken from tests.manage.test_pv_creation.verify_pv_exist and moved to ocs_ci.ocs.resources.pvc.PVC

[2019-07-08 16:16] vasukulkarni commented on #343
PR: https://github.com/red-hat-storage/ocs-ci/pull/357

[2019-07-08 16:20] clacroix12 commented on #370
@hnallurv what branch are you seeing this on? That test file is not in latest master.

[2019-07-08 16:57] hnallurv commented on #370
@Coady LaCroix <clacroix@redhat.com> my script is still under
development(local copy). not merged yet.

On Mon, Jul 8, 2019 at 9:50 PM Coady LaCroix <notifications@github.com>
wrote:

[2019-07-08 17:25] clacroix12 commented on #370
We should probably reserve creating issues for things that are affecting public branches since we can't troubleshoot this issue fully without the code changes. If you're looking for assistance with this issue you may want to push a WIP PR.

[2019-07-08 19:05] andrewschoen commented on #285
I created a PR as an example of what I'm talking about here. https://github.com/red-hat-storage/ocs-ci/pull/374

The issue here is not fixture usage, it's using fixtures and depending on global variable for them to function. Fixtures are powerful and should be used, I'm just not sure we could be forcing ourselves to use them when we need global variables to make them work.

[2019-07-08 21:34] vasukulkarni opened #376 "Allow OCS object to create pod on specified selector"

[2019-07-09 03:26] nehaberry commented on #371
Closing this issue as the PR #373  is merged.

[2019-07-09 03:26] #371 closed

[2019-07-09 05:36] jilju commented on #365
Fixture for creating new project is present in PR #368

[2019-07-09 10:23] ebondare opened #378 "yaml.load() without Loader=... is deprecated"
yaml.load() without Loader=... is deprecated
I think we should change yaml.load() to yaml.safe_load() or yaml.full_load()

[2019-07-09 16:32] clacroix12 commented on #325
Was this fully addressed by #377 ?

[2019-07-09 17:00] shreekarSS opened #380 "Need fix in /tests/manage/test_create_pvc_random_storage_class.py"
In teardown(), need fix in
delete_cephblockpool() -->to accept list of pools created while testing, else it would delete all pools,
 delete_all_cephfilesystem() --> we may no need this anymore for this script

[2019-07-09 17:05] prsurve commented on #380
hi @shreekarSS as per pr #284 i am using list of object for deletion in delete_cephblockpool()

[2019-07-10 12:39] ebenahar opened #382 "Enhancements for disruptive PVC tests"
As suggested by @nehaberry, @sidhant-agrawal and @RazTamir, we should improve the PVC disruptive tests we have under tests/manage/test_pvc_disruptive.py.
- [Neha/Sidhant] Create multiple PVCs instead of one
- [Raz] Validate that the pod can still run IO after deleting OSD/MON/MGR/MDS
- [Raz] Ensure that another pod can use the same PVC after resources deletion
- [Elad] Add Stop instance to the dis

[2019-07-10 15:59] vasukulkarni commented on #370
@hnallurv please set the priority for this one once you speak to PM

[2019-07-10 16:16] RazTamir opened #384 "test_create_pvc_random_storage_class.py is stuck"
Hi,

test test_create_pvc_random_storage_class.py is stuck and cause the entire tier1 to stuck

[2019-07-10 16:22] clacroix12 commented on #384
It appears the issue here is in the teardown.

[code]
**Duration: 4965.65** -- almost 1.5 hours stuck in this teardown

[code]

[2019-07-10 16:27] prsurve commented on #384
Fixed in #385

[2019-07-10 16:29] #343 closed

[2019-07-10 16:37] ebenahar opened #386 "Pod is not being deleted as part of test_run_io teardown which causes the test teardown to stuck during PVC deletion"
tests.manage.test_pvc_deletion_during_io.TestDeletePVCWhileRunningIO#test_run_io

tests/manage/test_pvc_deletion_during_io.py::TestDeletePVCWhileRunningIO::test_run_io
------------------------------------------------------------------------------------------------- live log setup --------------------------------------------------------------------------------------------------
19:27:36 - MainThrea

[2019-07-10 16:55] RazTamir commented on #386
My fault

[2019-07-10 17:02] RazTamir commented on #386
Should be fixed with - https://github.com/red-hat-storage/ocs-ci/pull/387

[2019-07-10 18:05] keesturam commented on #382
I'm not sure if this is the right place but adding my thoughts here.

Failures to be introduced at the following phases.

1) Failure to be introduced just before PVC creation
2) PVC creation and failure introduced concurrently
3) PVC creation immediately followed by failure(s)

A similar set of operations with mapping PVC to app pod + Failures.

[2019-07-10 18:26] ebenahar commented on #382
Thanks @keesturam!
Marking this issue as a tracker and let's open an issue for each suggestion implementation

[2019-07-10 18:47] ebenahar commented on #382
Validate that the pod can still run IO after deleting OSD/MON/MGR/MDS - https://github.com/red-hat-storage/ocs-ci/pull/388

[2019-07-10 18:55] ebenahar opened #389 "We should have a platform wrapper (AWS, VMWare, PSI)"
ocs_ci.utility.aws.AWS and future VMWare and PSI classes should be wrapped in order to allow interaction with an abstraction layer for operations on the nodes during the tests.
For example, stopping a node (stop_instance() in AWS case) should be a generic class method for any kind of deployment

[2019-07-11 04:40] keesturam commented on #372
Just to be explicit,
PV should be released if reclaim policy is 'retain' and PV + underlying ceph volume should be deleted if retain policy is 'delete'.

[2019-07-11 12:03] vavuthu commented on #221
Closing the bug as PR is merged

[2019-07-12 08:29] parikshithb commented on #264
Fixed. PR #393

[2019-07-12 08:29] #264 closed

[2019-07-12 11:08] Akarsha-rai opened #397 "Deploying cluster is broken"
As it was seen today, deploying rook cluster was broken, all our csi-pods where in ContainerCreating state.
[code]

There is major changes in common.yaml, we need to update the yaml accordingly

[2019-07-12 11:10] Akarsha-rai commented on #397
Fix sent in PR: #398

[2019-07-12 20:40] jilju commented on #382
If failure is introduced while creation of multiple PVC is in progress(requirement 2 mentioned above), it will also cover requirement 1 and 3.
@keesturam thoughts ?

[2019-07-12 20:41] jilju commented on #382
PR #401

[2019-07-12 20:43] jilju commented on #382
PR #401

[2019-07-14 17:06] keesturam commented on #382
Maybe. But, It would be good to run a definite test which gives the same result every time. By running the test with multiple pvc creation + failure, we may see different results based on the time of failure introduced.

[2019-07-15 06:31] keesturam opened #403 "use a container image with fio pre-installed"
utility/workloads/fio.py installs fio within a container. one shouldn't run yum install within a container. That's not the way containers are designed.

 We should rather build a container image with fio configured and use that image for running fio.

[2019-07-15 10:27] petr-balogh commented on #285
As we discussed last time on our automation call the approach of using fixtures, I tried to fix some issue we have with those tests and used approach we were talking about in the call #405 . Can you please take a look if this one is what we were talking about? @red-hat-storage/top-level-reviewers

Mainly look at pvcs and project. The fixture in first file delete_pvcs is for objects created from th

[2019-07-15 11:57] dahorak opened #406 "AttributeError: 'CollectReport' object has no attribute 'description'"
Test execution with enabled html reporting is failing with long traceback on
error `AttributeError: 'CollectReport' object has no attribute 'description'`.

The real issue is hidden behind this error and is related to #404 and #405.

[code]

This traceback shouldn't hide the real issue.

[2019-07-15 12:43] #406 closed

[2019-07-15 13:38] petr-balogh commented on #380
I am also looking to this teardown as I saw the issue when tried to push this PR #405 , we shouldn't use assertion like this in teardown:  https://github.com/red-hat-storage/ocs-ci/blob/d11d3829c3500f56972f1f6bb23e03fbddf48946/tests/manage/test_create_pvc_random_storage_class.py#L53-L63

Instead you should put the errors to some list of errors, and check at the end of teardown where you can do ass

[2019-07-15 16:12] vasukulkarni commented on #403
I completely agree that we should't do this, but working from testing point, we will need tools on pods which will not be shipped as standard packages, how are we going to handle that? maintain custom images?

[2019-07-15 16:14] keesturam commented on #403
Yes, we will have to maintain the images as long as we use fio or similar test tools within the container.

[2019-07-15 16:28] vasukulkarni commented on #403
Its actually more work considering the distro and other packages that have to be installed + configured. Standard templates provide quite a few deployment pods, Trying to clone them and add our packages is quite a lot of work(and dont forget ongoing catchup when the deployment pods are updated)

[2019-07-15 16:29] vasukulkarni commented on #403
@ktdreyer whats your suggestion here?

[2019-07-15 16:31] mbukatov commented on #365
I don't like the approach used there, when you inject namespace into test class. This is error prone hack, please don't do that.

It would be much better to have a simple namespace fixture which just creates a namespace during setup, and removes it during teardown,  like in my old branch here:  https://github.com/mbukatov/ocs-ci/blob/608266ba4de38e028aa579fa5c442d8548e7c314/tests/test_ocp_pv_resiz

[2019-07-15 16:38] vasukulkarni opened #408 "move helpers.py under utils"
So that other components tests can resuse those fixtures.

[2019-07-15 16:47] ktdreyer commented on #403
Maintaining an existing image on top of Ceph sounds like an incredible amount of work and places where things could go wrong.

What are the exact problems you are having with `utility/workloads/fio.py` ?

[2019-07-15 17:41] vasukulkarni commented on #403
@ktdreyer If you look at the pod here(just one example): https://github.com/red-hat-storage/ocs-ci/blob/master/ocs_ci/templates/CSI/rbd/pod.yaml#L10 , the nginx pod will have to be replace with custom pod with fio preinstalled. likewise for other deployment pods that come shipped with ocp.

[2019-07-15 18:47] clacroix12 commented on #408
@vasukulkarni just for clarity I don't think we have any fixtures in `helpers.py`. Also any of the utilities here can be imported directly with `from tests.helpers import <function>`

[2019-07-15 20:13] vasukulkarni commented on #408
yeah agree,  closing this one.

[2019-07-15 20:14] vasukulkarni commented on #403
The test script above tries to install fio and it works atleast for ubuntu/centos, but if the pod is changed to fedora, the above mentioned script fails during 'yum install'

[2019-07-15 20:22] ktdreyer commented on #403
Why does fio have to be in the nginx container, instead of putting FIO into its own dedicated container?

[2019-07-15 20:29] vasukulkarni commented on #403
So the idea is we just want to be able to configure a pod to add IO tools and use it for multiple uses,  if thats not possible, then for every tool(fio,dbench, mysql etc), we basically have to create our own Image and I can see us easily maintaining 10+ custom images for such tools.

Is there not an easy way to configure them on the fly with standard images ?

[2019-07-15 20:31] ktdreyer commented on #403
It sounds like you're asking for a standard image with FIO preinstalled.

Have you asked the FIO upstream project to provide their own container image? Or you could volunteer to maintain such an image for them.

I think you're going to have to do some level of maintenance either way.

[2019-07-15 20:57] RazTamir commented on #403
What is the overhead with creating "testing" image that will be used by QE for testing?
I see we will need more pre-installed on such image and don't think we should do it as part of our tests (it can take a lot of time to install fio every time).
I started to work on doing multiple git clones from a pod as part of some test and was needed to install git.
I think we will need to have such QE image

[2019-07-15 21:11] vasukulkarni commented on #403
@ktdreyer @RazTamir this is not one time thing *just for* FIO(its one example here),  there are standard deployment-templates that come with bare minimum to run the the app that the template supports, let's take an example of postgresql app template that ships with openshift, since it doesn't come with say iostat or a client to stress db, then essentially one has to clone the image and add softwar

[2019-07-15 21:14] vasukulkarni commented on #403
same could also happen later with ceph-tools-pod if we detect that we need something it doesn't have, previously in teuthology/cephci we just configured it on the fly.

[2019-07-15 21:26] RazTamir commented on #403
I see,
Thanks for clarifying.

[2019-07-16 06:46] #363 closed

[2019-07-16 11:50] petr-balogh opened #409 "add property to xunit with: "polarion-testrun-id""
We need to update also this property to xunit result:
<property name="polarion-testrun-id" value="OCS_4_2_tier1"/>

We need to add version + tier number for now which we can read dynamically from pytest.

We can compose the run id from all passed markers.

Example how to retrieve markers is [here](https://stackoverflow.com/questions/52585701/how-to-retrieve-the-markers-for-py-test-in-conftest-py)

[2019-07-16 13:01] hnallurv opened #411 "oc get namespace -A -o yaml takes long time and error out saying "invalid character 'T' after top-level value""
Following error message was seen when I ran my script (on my wip branch from forked repo created 4hrs back):

18:11:42 - Dummy-8 - ocs_ci.utility.utils - INFO - Executing command: oc --kubeconfig /home/hnallurv/OCS_cluster_dir/auth/kubeconfig get Namespace -A -o yaml

Traceback (most recent call last):
  File "/home/hnallurv/fork/ocs-ci/venv/lib/python3.7/site-packages/gevent/threadpool.py", line

[2019-07-16 14:24] RazTamir opened #413 "Move our deployment to 4.2"
We need to deploy OCS on top of OCP 4.2 ASAP.
There are many features we are missing just by running on 4.1 today.

Let's pick some stable image from here https://openshift-release.svc.ci.openshift.org/ for example 4.2.0-0.ci-2019-07-12-102949

[2019-07-17 07:54] dahorak opened #415 "Logs are placed to /tmp/ directory instead of to RUN['log_dir']"
All logs from pytest are placed to `/tmp/...` directory, no matter what is configured in `RUN['log_dir']`. Only symlink is created from the particular `/tmp/...` directory to directory specified in `RUN['log_dir']`. This is an issue in Jenkins jobs, because logs are not properly placed to the expected place on NFS share and thus are not available.

[2019-07-17 09:15] dahorak commented on #415
The solution will be to use `--logger-logsdir` parameter passed automatically from the `run-ci` wrapper with proper argument.

[2019-07-17 10:24] PrasadDesala opened #417 "Fixtures create_rbd_storageclass and create_cephfs_storageclass uses same attribute name "sc_obj""
Fixtures create_rbd_storageclass and create_cephfs_storageclass uses same attribute name "sc_obj".

create_rbd_storageclass
create_cephfs_storageclass

Since we are using same attribute name "sc_obj"  in both these fixtures, if we use both these fixtures in a same test case the attribute will get overrided with the later fixture.

[2019-07-17 17:01] vasukulkarni opened #419 "Add signed-off check for commit message in CI"

[2019-07-17 17:10] vasukulkarni commented on #419
Something similar to https://github.com/ceph/ceph-build/blob/master/ceph-pr-commits/config/definitions/ceph-pr-commits.yml#L52-L65

[2019-07-17 17:39] mbukatov commented on #408
Right, the functions there are not fixtures, but  still I consider move of helpers.py into utils to be a good idea, so that all utils will be stored in a single place, while tests directory will contain only fixtures and actual tests.

[2019-07-17 18:01] RazTamir commented on #408
If we are going that direction, we will also need to remove everything from utils that is not in use today.

[2019-07-17 19:13] zmc commented on #419
https://github.com/probot/dco ?

[2019-07-17 19:20] zmc commented on #419
I've installed DCO on the project

[2019-07-17 21:05] clacroix12 commented on #408
I agree, I think this would help organize things a bit more.

Is this a hard requirement? It should definitely happen, but I'm not sure if it should block moving helpers from `tests` to the `utility` module.

[2019-07-18 08:32] #415 closed

[2019-07-18 09:02] mbukatov commented on #419
Would you also update the [documentation of ocs-ci project](https://github.com/red-hat-storage/ocs-ci/tree/master/docs) and explain:

* what is the meaning of "sing off" entries in our project exactly
* how to use it

[2019-07-18 10:08] hnallurv commented on #370
kind: DeploymentConfig
apiVersion: v1
metadata:
  name: fedorapod
spec:
  template:
    metadata:
      labels:
        name: fedorapod
    spec:
      restartPolicy: Always
      volumes:
      - name: fedora-vol
        persistentVolumeClaim:
          claimName: pvcClaimFedora
      containers:
      - name: fedora
        image: fedora
        command: [ "/bin/bash", "-ce", "tail -f /dev/null"

[2019-07-18 10:08] hnallurv commented on #370
kind: DeploymentConfig
apiVersion: v1
metadata:
  name: fedorapod
spec:
  template:
    metadata:
      labels:
        name: fedorapod
    spec:
      restartPolicy: Always
      volumes:
      - name: fedora-vol
        persistentVolumeClaim:
          claimName: pvcClaimFedora
      containers:
      - name: fedora
        image: fedora
        command: [ "/bin/bash", "-ce", "tail -f /dev/null"

[2019-07-18 10:08] hnallurv commented on #370
http://pastebin.test.redhat.com/781016

[2019-07-18 11:16] prsurve commented on #370
if we create privileged pod then we are able to setup fio on fedora pod

[2019-07-18 12:23] mbukatov commented on #417
@RazTamir  Is it a bug or a feature in this particular case? :)

[2019-07-18 14:00] RazTamir commented on #417
Neither.
just slight alignment on that and you'll have rbd_sc_obj and fs_sc_ob

[2019-07-18 15:40] ebenahar opened #423 "Add an option to run IO in the background during tests execution"
Thinking about creating a session scope fixture in conftest.py that will create a pod and run FIO during the entire test execution

[2019-07-18 15:48] hnallurv commented on #423
Couple of things to consider:
1) This should have facility to run (all or selected) OCS supported workloads and fio.
2) Should be able to verify the data integrity (before and after a certain operation)
3) Should be able to run IOs for a certain time and also throughout the test (without time restriction)

[2019-07-18 17:58] vasukulkarni opened #425 "Convert existing tests in manage to use new fixtures"
I know there are quiet a few, I will try to take one or 2 and raise PR too.

[2019-07-18 20:40] ebenahar commented on #423
Thanks @hnallurv
Created https://github.com/red-hat-storage/ocs-ci/pull/426
For now, as an MVP, FIO is being used

[2019-07-19 09:48] RazTamir commented on #408
Not hard requirement

[2019-07-19 12:27] mbukatov commented on #397
@Akarsha-rai has this been fixed so that this issue can be closed now?

[2019-07-19 18:15] clacroix12 commented on #425
Should we wait for #418 before really getting started on converting other test cases? I think we would save a lot of effort if the basic set of shareable fixtures was in place before converting everything.

[2019-07-19 18:30] vasukulkarni commented on #425
Sure, makes sense to wait for #418, once that is finalized for some use cases we could reuse them.

[2019-07-22 05:53] shylesh commented on #293
https://github.com/red-hat-storage/ocs-ci/pull/431

[2019-07-22 05:55] shylesh commented on #338
Done by Elad, closing this.https://github.com/red-hat-storage/ocs-ci/pull/396

[2019-07-22 05:55] #338 closed

[2019-07-22 08:33] fbalak commented on #335
I believe that this is not fixed yet. I currently have incorrectly deployed cluster:
[code]
If I try to destroy it then it fails with similar error:
[code]
I tested this with commit bab60ac7dd7b9ec30802cd5df8784cc1ec18c96b.

[2019-07-22 17:32] clacroix12 opened #436 "Deployment logs are not being generated"
I am attempting to execute a fresh deployment with only the required arguments being passed to `run-ci`. Live logs are not appearing in the console, as well as log files are not being generated in the log directory for the test run.

This is the entire output I am seeing from the fresh deployment. I suspect the internal error is due to the fact that there are actually no file handlers.
[code]

Con

[2019-07-22 19:44] andrewschoen commented on #436
It looks like pytest is not loading the ``pytest.ini`` file from the project root anymore. Locally if I added a ``-c pytest.ini`` to my ``run-ci`` command then I see live logging again.

[2019-07-22 19:49] andrewschoen commented on #436
I take that back, I see two issues locally. One being that live logging was not working which is what the above fix resolves for me. The other is the exception being thrown that's trying to access the log file name, unsure what's happening there yet.

[2019-07-23 07:09] mbukatov opened #438 "Remove workaround: Rook mon crashloop and pod disappearance"
When original issue is fixed (TODO: add tracker reference for the original issue), revert commit bcfde8e28f3d0e907a097c7c4569b9effc203dbe introducing the workaround (via https://github.com/red-hat-storage/ocs-ci/pull/433).

[2019-07-23 08:48] mbukatov commented on #436
I have seen this last week, but @dahorak suggested that I may have a broken env and I haven't other opportunities to debug this.

[2019-07-23 10:32] #378 closed

[2019-07-23 12:01] RazTamir commented on #384
@prsurve Is it still impacting us?

[2019-07-23 14:00] mbukatov opened #441 "Drop pprint from requirement list in setup.py"
Module [pprint is part of python standard library](https://docs.python.org/3.6/library/pprint.html), [PyPI package of the same name](https://pypi.org/project/pprint/#description) is either a joke or a malware.

[2019-07-23 14:04] mbukatov opened #442 "Audit requirements for extraneous entries"
Audit requirement list in setup.py for extraneous entries, such as pprint entry https://github.com/red-hat-storage/ocs-ci/issues/441

[2019-07-24 06:58] sidhant-agrawal opened #447 "Implement dynamic PVC creation tests for RWX accessmode"
With the merge of PR #368 , test function needs to be implemented under the class TestRWXDynamicPvc in tests/manage/test_dynamic_pvc_accessmodes_with_reclaim_policies.py.

Also the name of the function rwx_dynamic_pvc() needs to be modified to test_rwx_dynamic_pvc()

[2019-07-24 07:12] fbalak opened #448 "Unused variables in test_multiple_pvc_concurrent_creation_deletion"
Test `test_multiple_pvc_concurrent_creation_deletion` defines variables `pvc_base_name` and `pvc_base_name_new` but these variables are not used for pvc creation but they are used in defined delete command:
[code]
Because of that there are no pvcs found during deletion and test fails:
[code]

[2019-07-24 07:21] MeridianExplorer commented on #438
PARTIAL REMOVAL: rook-ceph image was restored to master via #445.
Namespace remains 'rook-ceph'.

[2019-07-24 08:20] ebenahar opened #449 "Pod creation fails - KeyError: 'nodeName'"

[2019-07-24 10:59] #436 closed

[2019-07-24 11:16] RazTamir commented on #447
Hi @sidhant-agrawal and @nehaberry ,
Anything I can help with on that issue?

[2019-07-24 11:38] sidhant-agrawal commented on #447
Elad suggested creating this issue for tracking purposes, to add RWX access mode related tests.
I think @nehaberry and @parikshithb already worked on standalone scripts, they need to add their code under the class TestRWXDynamicPvc with some changes.

[2019-07-24 11:43] RazTamir commented on #447
OK!
Feel free to ping me if you want me to take some load from you and automate test cases

[2019-07-24 12:55] #449 closed

[2019-07-24 13:57] fbalak opened #451 "tests.helpers.create_resource Attribute error when wait=True"
When calling `tests.helpers.create_resource` with parameter `wait=True` then there is an Attribute error:

[code]

[2019-07-24 14:14] RazTamir commented on #451
@shreekarSS , I think this regression was introduced with https://github.com/red-hat-storage/ocs-ci/pull/357

[2019-07-25 06:17] mbukatov opened #452 "Improve clarity and classification of log message of command execution utility function"
I have seen the following line in the logs:

[code]

And see few problems with this:

- the line is classified as INFO level message, but then it goes "Error during ..."
- it's not immediately clear what the original error message is exactly, weird notice `Error is Error from server (NotFound)` is likely caused by logging the original message like `f"Error is {original_error_message}"`.

Fortunate

[2019-07-25 06:18] mbukatov commented on #452
I consider this to be a low priority bug.

[2019-07-25 08:05] ebenahar opened #455 "Allow passing specified configuration for run IO in background"
Following @fbalak suggestion in https://github.com/red-hat-storage/ocs-ci/pull/426, opening this RFE.

FIO parameters may be put into config as default background FIO utilization that user can change or take something from cli.

[2019-07-25 08:23] dahorak opened #456 "Teardown of test_rwo_dynamic_pvc stuck forever when executed as part of tier1 test suite"
There seems to be some problem with teardown of test `tests/manage/test_dynamic_pvc_accessmodes_with_reclaim_policies.py::TestRWODynamicPvc::test_rwo_dynamic_pvc[CephBlockPool-Retain]`, when the test is executed as part of *tier1* testsuite, the teardown of this test stuck *forever* on following command:

[code]

In yesterday's tier1 tests job, it were stuck on this particular place for 16 hours t

[2019-07-25 09:21] mbukatov opened #458 "Audit ocs-ci code for hidden workarounds"
With introduction of [new rules for tracking workarounds](https://github.com/red-hat-storage/ocs-ci/commit/a94361d4f30b3a1901ce376f0e85048c26707e78), we will be able to track only workarounds introduced from now on, but older workaround may be hidden in the code.

To make workaround tracking consistent, wee needs to identify workarounds currently hidden in the ocs-ci code and create workaround iss

[2019-07-25 10:47] prsurve opened #460 "Change yamls to sync with upstream rook repo changes"

[2019-07-25 10:55] sidhant-agrawal commented on #456
PVC deletion is getting stuck because the pod was not deleted during the test due to test failure.
The test itself failed because pod didn't come up in running state due to changes in csi code and yaml files in rook repo.
As mentioned in [here](https://github.com/red-hat-storage/ocs-ci/pull/445#issuecomment-514993277) those file needs to be modified.

Will also update the test to check for pod del

[2019-07-25 12:16] mbukatov opened #462 "Audit rook deployment automated in ocs-ci, focusing on prometheus monitoring setup"
Right now, when I deploy a cluster via ocs-ci, the ceph mgr prometheus target is not connected to openshift prometheus, and so no ceph metrics are available in prometheus.

Areas to focus on:

- [X] namespace workaround is not tracked, audit ocs-ci for additional workarounds (additional work because of #458 unresolved status): see  #469
- [ ] only proper downstream namespace with prefix `openshift

[2019-07-25 12:30] mbukatov commented on #462
This effort is related to https://github.com/red-hat-storage/ocs-ci/issues/460

[2019-07-25 12:55] mbukatov commented on #438
@red-hat-storage/top-level-reviewers please make sure that this issue is updated as needed

[2019-07-25 17:42] ebenahar commented on #438
https://github.com/red-hat-storage/ocs-ci/pull/445/files is merged

[2019-07-26 06:48] prsurve commented on #460
Closing issue with #461

[2019-07-26 06:48] #460 closed

[2019-07-26 16:14] clacroix12 commented on #293
Closing as #431 is merged.

[2019-07-26 16:14] #293 closed

[2019-07-26 16:22] mbukatov opened #469 "Remove workaround: switch back to openshift-namespace from rook-ceph"
When (TODO: add tracker reference for the original issue) is fixed, switch back to `openshift-storage` namespace, which was done (among other things) in commit bcfde8e28f3d0e907a097c7c4569b9effc203dbe and other places (so we can't just revert the commit here).

[2019-07-26 16:23] mbukatov commented on #438
Removal of namespace hack tracked in #469

[2019-07-26 16:47] mbukatov commented on #462
So basically for monitoring to work, I need to:

- use downstream builds
- make sure the namespace is set to `openshift-storage` (#469)
- set `monitoring_enabled` to True

[2019-07-26 16:57] #462 closed

[2019-07-26 17:00] mbukatov commented on #469
Ah, no, this is the same commit as tracked in #438

[2019-07-26 17:00] #469 closed

[2019-07-26 17:01] mbukatov commented on #438
This hasn't been resolved, namespace is still set to `rook-ceph` as Ben notes above.

[2019-07-26 17:20] mbukatov commented on #438
Namespace revert is proposed in #470.

[2019-07-29 11:13] ebenahar opened #475 "Where needed, delete PVC with validate_pv_deleted as True"
* After https://github.com/red-hat-storage/ocs-ci/pull/465 gets merged

In cases where PVCs were created with retaining policy set to delete, and we can wait for their deletion, PVC.delete() should be sent with validate_pv_deleted as True.

[2019-07-29 12:24] RazTamir commented on #475
Should be fixed with https://github.com/red-hat-storage/ocs-ci/pull/476

[2019-07-29 14:14] Shrivaibavi opened #478 "To confirm the yaml files for deployment of openshift-logging works with respect to OCP 4.2"
All the default YAML files for deployment for openshift-logging are taken from the official documentation for OCP 4.1. Needs confirmation if there are no changes with OCP 4.2.

[2019-07-29 14:33] keesturam commented on #478
This issue is raised as a placeholder to make any changes to the ocp-logging related yaml files once we get the files for OCP 4.2. If there are no changes between 4.1 and 4.2, this issue will be closed.

[2019-07-29 14:51] #448 closed

[2019-07-29 18:38] vasukulkarni opened #482 "Create a class that encompasses our test object"
we have pv, pvc, storageclass as distinct object, but  for general testing eg: tier1, workload or performance we need to have a test object that encompasses all of them as single entity and the fixture can just provide that one single entity.

Create a single test object, that can use various init parameters and return the test object for further use.

[2019-07-29 18:46] clacroix12 commented on #413
We are tracking this work in [JIRA](https://projects.engineering.redhat.com/browse/OCSQE-11)

[2019-07-29 18:46] vasukulkarni commented on #482
@wusui @ramkiperiy lets work on this one and submit a PR that helps speed writing automated tests!

[2019-07-29 21:33] vasukulkarni opened #483 "Separate resource creation from Deployment Class"
At the High level, Deployment class can deal with OCP deployment + OCS deployment

Resource creation should be kept in a separate class and can be either from libcloud or very similar class category

eg: VMInstance with methods create_node, get_ip, attach_storage(etc)
      OpenStack Instance that inherits from VMInstance
      VMware that inherits from VMInstance
     Barmetal which can be separa

[2019-07-30 18:49] vasukulkarni opened #488 "couple more fixes for deployment_openshift_logging.py"
Fix couple more comments from Karthik and Coady for PR https://github.com/red-hat-storage/ocs-ci/pull/414

[2019-07-30 18:51] vasukulkarni commented on #488
@Shrivaibavi Along with those fixes, please add the test script in E2E folder.

[2019-07-31 02:23] vasukulkarni opened #490 "internal resourceleftovers"
From time to time, I see some resources which are leftover and dont make sense, somehow the system has created it internally and maybe it gets deleted at a later point in time or stays forever,

whatever maybe the reason for those resources that gets created, our tests shouldn't fail for such reasons, Its really difficult to debug test failures during these cases and fail the test

[code]

[2019-07-31 05:00] Shrivaibavi commented on #488
@vasukulkarni @keesturam @clacroix12  The automation test sprint is going on. The testcases will be soon sent as a new PR.
I would be happy to receive a suggestion from you. Can we have testcases for openshift-logging aligned up like this in a same file.
[code]
Keep on adding testcases as a function under the same file ?

[2019-07-31 05:01] Shrivaibavi commented on #488
Please suggest.

[2019-07-31 05:53] clacroix12 commented on #488
@Shrivaibavi Since they are all openshift-logging test cases then yes, we can have a `class TestOpenshiftLogging` with several test case methods in that class. Keeping tests organized in this way is actually preferred. Ensure that the name of the test cases reflect what they are testing.

Regarding the `setup` and `teardown` methods here in the class, let's create a class scope fixture that will i

[2019-07-31 06:11] Shrivaibavi commented on #488
@clacroix12 Noted. Thanks for your suggestion.

[2019-07-31 12:16] mbukatov commented on #86
Fixed by https://github.com/red-hat-storage/ocs-ci/pull/375

[2019-07-31 12:16] #86 closed

[2019-07-31 12:25] Shrivaibavi opened #492 "Function to delete resources from openshift-marketplace"
Since most of the workloads will be created and deleted using openshift-marketplace move delete resources to a separate function.
PR #480

[2019-07-31 12:29] mbukatov commented on #114
Resolved during structure change of the repo.

[2019-07-31 12:29] #114 closed

[2019-07-31 14:36] #409 closed

[2019-07-31 14:39] vasukulkarni commented on #488
@Shrivaibavi what coady said, I will recommend that you add test by test in different PR's rather than trying to add bunch of them together,  It keeps the PR short and easy to review.

[2019-08-01 12:29] mbukatov commented on #438
Namespace is "openshift-storage" again, since commit f1906b5139cc8bdd58f1a3411cdcdf2e818a7ece.

[2019-08-01 12:29] #438 closed

[2019-08-01 12:36] mbukatov commented on #441
fixed by 4027fa1e38a6ca09fb799e315c2ca7cf2f5c6daa

[2019-08-01 12:36] #441 closed

[2019-08-01 22:54] vasukulkarni opened #498 "Revert gp2 non default PR after bz is fixed"
BZ to track: https://bugzilla.redhat.com/show_bug.cgi?id=1734443

[2019-08-04 20:15] ebenahar opened #502 "Verify RBD image deletion"
As https://bugzilla.redhat.com/show_bug.cgi?id=1723656 is now ON_QA, it should be possible to validate RBD image deletion when deleting a PV.
For example, https://github.com/red-hat-storage/ocs-ci/blob/042226b5e158459d767b84a11bb54175f84f5ea4/tests/manage/pv_services/test_verify_rbd_based_rwo_pvc.py#L298 should be addressed

[2019-08-05 06:49] dahorak opened #503 "possibility to point links to test cases log files to http server"
Links to *Log Files* on html report are automatically pointed to local file system, which is ok for locally executed tests, but for tests executed in Jenkins it doesn't make much sense. Since all the test results from Jenkins runs are accessible via http server, it would be good to configure the html test result page to link the Log Files to the http server, where are the tests reports accessible

[2019-08-05 08:39] vavuthu commented on #296
Closing this bug due to below reasons. Please open new bug if deployment is still failing.

There are lot changes went into framework and deployment part within last 2 months.

[2019-08-05 08:39] #296 closed

[2019-08-05 09:14] jilju commented on #382
Completed.

[2019-08-05 09:15] jilju commented on #382
Completed

[2019-08-05 09:20] jilju commented on #382
With reference to [comment](https://github.com/red-hat-storage/ocs-ci/pull/493#discussion_r310465532), these additional requirements has to be satisfied in Tier 4 test cases.
1. The script should be creating the RWX and RWO based PVCs as expected by test cases.
- Random choice of RWX and RWO can be used for bulk PVC creation scenarios.

2. The FIO needs to verify the data integrity of the data it

[2019-08-05 10:42] #456 closed

[2019-08-05 10:49] nehaberry opened #504 "Request for future enhanement in wait_for_nodes_ready(num_of_nodes) func in PR#497"
Future Enhancement request against PR#497

This issue is for requesting the future enhancement in function **def wait_for_nodes_ready(num_of_nodes)** part of ocs_ci/ocs/ocp.py

In [PR#497  ]( https://github.com/red-hat-storage/ocs-ci/pull/497)  , the function for now will work properly only if all nodes are taken down. It would help to be also able to specify which all nodes need to be taken down

[2019-08-06 06:10] sidhant-agrawal opened #509 "Force download of client and installer should be done during deployment or teardown only"
Client and Installer are being force download even when other scripts are run.

[code]

[2019-08-06 06:17] nehaberry commented on #509
+1 @sidhant-agrawal . It would be better to have this oc client downloader only in deployment, so that once the setup is ready, we can re-use the client for running test cases.

While running test cases, the client download is sometimes timing out due to bad network :(

[2019-08-06 11:50] Shrivaibavi opened #510 "Deployment of openshift-logging is broken on OCP 4.2 setup"
The deployment of openshift-logging version is 4.1 now. To change the deployment of openshift-logging to 4.2 the document is still not available.

[2019-08-06 16:08] vasukulkarni commented on #509
@clacroix12 is this regression from your PR?

[2019-08-06 16:13] clacroix12 commented on #509
@vasukulkarni no this is due to #505

[2019-08-06 16:15] vasukulkarni commented on #509
@clacroix12 thanks, assigned to  @petr-balogh

[2019-08-06 16:21] clacroix12 commented on #509
Do we actually want to not download the client/installer for test runs? The 'force download' is only a default value, one that can be overwritten by passing a custom conf using `--ocsci-conf`. That conf would look like this:

[code]

Don't our tests rely on having an `oc` binary in the `bin` dir, and how can we guarantee that this exists without calling that download or at least checking that it e

[2019-08-06 16:24] vasukulkarni commented on #509
@clacroix12 I dont think it can be a default value, most of us are not modifying default values that is good for general runs. once the deployment/teardown is run, it is *rare* for the binaries to disappear on its own. We should revert back to old behavior which has been working fine for so many months now.

[2019-08-06 16:28] RazTamir commented on #509
Not really,
When the bin directory contains the installer and the client, it will skip downloading a new one and the workaround will be to delete this directory content.

Can we force downloading only when deployment parameter paased to the execution command?

[2019-08-06 16:28] clacroix12 commented on #413
Closing as #494 is merged

[2019-08-06 16:28] #413 closed

[2019-08-06 16:42] vasukulkarni commented on #509
@sidhant-agrawal if you get some cycle before me or anyone, fix it and send PR please. Thanks

[2019-08-06 17:38] vasukulkarni opened #512 "Add author info to tier tests"
When tests fails, its easy to have the contact info in the tier and assign issue to the author.

[2019-08-06 17:55] RazTamir commented on #512
I'm not sure if that's will be the approach for the long term.
We need to have a process automation analysis (cc Elad and Tamil)

[2019-08-06 18:06] vasukulkarni commented on #512
I can speak about this one tomorrow's call.

[2019-08-07 07:09] petr-balogh commented on #509
About the change of #505, it was discussed in mail thread:  Move to OCP 4.2 , and people didn't get the new client even if we already had default config set to force download. So as was requested, I found out that this variable from config wasn't propagated at all, so I just started propagate this config variables to the function call in #505.  If the behavior should be different then I will fix i

[2019-08-07 08:53] petr-balogh commented on #509
In #514 it's forcing download again client and installer only when deploy parameter passed.

[2019-08-07 09:12] sidhant-agrawal commented on #509
Closing the issue as #514  is merged.

[2019-08-07 09:12] #509 closed

[2019-08-07 17:29] vasukulkarni commented on #512
Closing due to Elad's excel sheet.

[2019-08-07 17:29] #512 closed

[2019-08-08 07:50] dahorak opened #521 "Fix test_running_cluster_mointoring_with_persistent_stoarge"
Teardown of following test is constantly failing in CI, could you please evaluate and fix it?
`tests.e2e.test_running_cluster_monitoring_with_persistent_storage.TestRunningClusterMonitoringWithPersistentStorage.test_running_cluster_mointoring_with_persistent_stoarge`

example failure: https://ocs4-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/qe-trigger-us-tier1-tests-master/63/testReport/tests.e2e.

[2019-08-08 07:53] dahorak opened #522 "Fix test_cephfilesystem_creation"
Following test is constantly failing in CI, could you please check it and fix it?
`tests.manage.cluster.test_add_mds_to_cluster.TestCephFilesystemCreation.test_cephfilesystem_creation`

Example failure: https://ocs4-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/qe-trigger-us-tier1-tests-master/63/testReport/tests.manage.cluster.test_add_mds_to_cluster/TestCephFilesystemCreation/test_cephfilesystem_c

[2019-08-08 07:59] dahorak opened #523 "Fix test_rbd_based_rwo_pvc"
Teardown of following test is constantly failing in CI, could you please evaluate and fix it?
`tests.manage.pv_services.test_verify_rbd_based_rwo_pvc.TestRbdBasedRwoPvc.test_rbd_based_rwo_pvc[Retain]`

Example failure: https://ocs4-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/qe-trigger-us-tier1-tests-master/63/testReport/tests.manage.pv_services.test_verify_rbd_based_rwo_pvc/TestRbdBasedRwoPvc/tes

[2019-08-08 08:11] dahorak opened #524 "Fix test_create_pvc_with_random_sc"
Teardown of following test is constantly failing in CI, could you please evaluate and fix it?
`tests.manage.pv_services.test_create_pvc_random_storage_class.TestCreatePVCRandomStorageClass.test_create_pvc_with_random_sc`

Example failure: https://ocs4-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/qe-trigger-us-tier2-tests-master/4/testReport/tests.manage.pv_services.test_create_pvc_random_storage_cl

[2019-08-08 08:18] jilju commented on #523
Leftovers are seen in the project. The project is being deleted in teardown part on the test case, but deletion is not verified. The environment status check might be done before the project is actually removed. Project deletion has to be verified in teardown.

[2019-08-08 09:06] dahorak opened #525 "Fix test_pvc_delete_create_same_name[CephFileSystem]"
Teardown of following test is constantly failing in CI, could you please evaluate and fix it?
`tests.manage.pv_services.test_delete_create_pvc_same_name.TestDeleteCreatePVCSameName.test_pvc_delete_create_same_name[CephFileSystem]`

Example failure: https://ocs4-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/qe-trigger-us-tier2-tests-master/4/testReport/tests.manage.pv_services.test_delete_create_pvc_

[2019-08-08 09:12] dahorak opened #527 "Fix test_run_io_multiple_pods_fs and test_run_io_multiple_pods_rbd"
Teardown of following tests is constantly failing in CI, could you please evaluate and fix it?

`tests.manage.pv_services.test_run_io_multiple_pods.TestRunIOMultiplePodsFS.test_run_io_multiple_pods_fs`
`tests.manage.pv_services.test_run_io_multiple_pods.TestRunIOMultiplePodsRBD.test_run_io_multiple_pods_rbd`

Example failures:
https://ocs4-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/qe-trigger-us-

[2019-08-08 09:16] dahorak opened #528 "Fix test_remove_mon_pod_from_cluster"
Teardown of following test is constantly failing in CI, could you please evaluate and fix it?
`tests.manage.cluster.test_remove_mon_from_cluster.TestRemoveMonFromCluster.test_remove_mon_pod_from_cluster`

Example failures:
https://ocs4-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/qe-trigger-us-tier4-tests-master/4/testReport/tests.manage.cluster.test_remove_mon_from_cluster/TestRemoveMonFromCluster

[2019-08-08 09:19] dahorak opened #530 "Fix test_disruptive_block[run_io-osd]"
Teardown of following test is constantly failing in CI, could you please evaluate and fix it?
`tests.manage.pv_services.test_pvc_disruptive.TestRBDDisruption.test_disruptive_block[run_io-osd]`

Example failures:
https://ocs4-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/qe-trigger-us-tier4-tests-master/4/testReport/tests.manage.pv_services.test_pvc_disruptive/TestRBDDisruption/test_disruptive_block_

[2019-08-08 09:31] Akarsha-rai commented on #521
This test-case is going to be removed and going to be added as a part of deployment. This way it will be serving as setup for any openshift-monitoring testcases.

#479 is implementing it.

[2019-08-08 09:50] RazTamir commented on #522
Fixed here - https://github.com/red-hat-storage/ocs-ci/pull/531
We have a regression in the product https://bugzilla.redhat.com/show_bug.cgi?id=1738833

[2019-08-08 11:15] jilju commented on #523
Updated test case to use create_project fixture which will verify project deletion after test case.
PR #532

[2019-08-08 12:33] #522 closed

[2019-08-08 15:46] dahorak opened #538 "Empty section in configuration file leads to traceback"
If there is empty section in (custom) configuration file, `run-ci` will fail with following traceback:

[code]

[code]

[2019-08-09 08:35] #523 closed

[2019-08-09 12:17] petr-balogh opened #544 "Segregate OCP deployment as preparation for different type of deployments"
We need to segregate OCP deployment to class for reusability for other kind of deployments as there are many stuff which can be reused but in current design we cannot do much reusability.

[2019-08-09 12:21] petr-balogh commented on #544
PR: #526

[2019-08-09 12:51] Shrivaibavi commented on #510
Closing this PR since we have a issue #478 to track this.

[2019-08-09 12:51] #510 closed

[2019-08-09 12:54] Shrivaibavi commented on #478
The deployment has been fixed according to OCP 4.2. A fix for this issue is sent in PR #545

[2019-08-09 18:10] #538 closed

[2019-08-09 22:04] petr-balogh commented on #544
#526 merged, closing this issue

[2019-08-09 22:04] #544 closed

[2019-08-11 11:48] #525 closed

[2019-08-12 07:30] nehaberry opened #552 "Default CSI image already part of rook image, how do we use the cephcsi explicit DS images for DS install"
With the latest changes in rook and with the merge of PR#537, we have the following changes:

1. From now on,  in operator-openshift.yaml, there is no explicit mention of any CSI based image (as opposed to earlier).
Hence, in case of [DS ](https://github.com/red-hat-storage/ocs-ci/blob/master/conf/ocsci/downstream_config.yaml) how do we plan to add the DS images for cephcsi and it's sidecar images

[2019-08-12 19:02] vasukulkarni opened #556 "Minor fixes to docs"
I noticed this when I was trying to help Svetlana during 4.2 deployment

a) git clone mentions git:// url for cloning ocs-ci, fix to use https instead ( for passwordless clone)
b) discourage use of sudo for any operations during docs - explicitly mention that in docs not to use sudo and run as local user.

[2019-08-12 19:25] vasukulkarni opened #557 "Fix is_deleted flag check (for ocs objects) at finalizer() level"
At one or two places we are checking is_deleted flag for ocs objects to ensure the object is not deleted at different stage in test, move this flag inside class  so that every test doesn't have to do this check.

eg: https://github.com/red-hat-storage/ocs-ci/blob/master/tests/conftest.py#L76

[2019-08-13 15:58] ebenahar opened #562 "Adjustments to provisioner name change in storageclass.yaml"
Copy-pasting @nehaberry update:

The name of the provisioner itself has changed and maybe we shall face issue in PVC creation if we deploy a fresh setup ( I tested manually, hence not sure about ocs-ci). if it breaks, we may need the following:

The change is - https://github.com/rook/rook/pull/3373/files

The provisoner name is changed to "provisioner: rook-ceph.cephfs.csi.ceph.com"  (the namespa

[2019-08-14 06:43] ksandha opened #564 "Getting the image for amq broker from container catalogue"
There is a part in amq broker where we have to get the image from [redhat container catalogue](https://access.redhat.com/containers/?tab=images#/registry.access.redhat.com/amq7/amq-broker).  Need a mechanism to figure out the installation part of [section 3.2.2 step 6](https://access.redhat.com/containers/?tab=images#/registry.access.redhat.com/amq7/amq-broker) .

[2019-08-14 06:49] ksandha commented on #564
Let me know if you need more insights into this.

[2019-08-14 14:18] #552 closed

[2019-08-14 15:40] clacroix12 opened #568 "Add guideline to contribution doc around creating issues to pair with pull requests"
In order to help facilitate the pull-request review and approval process, I'd like to suggest we have contributors create issues that describe the problem/enhancement/reason for their code changes. Sometimes this is described well in the pull request description, however this doesn't give reviewers much time to discuss *potential* changes to the project before time is spent implementing them.

By

[2019-08-14 16:26] clacroix12 commented on #556
Would you rather we point out that you need to have an ssh key setup in your github account as well as have git configured locally. If people clone with https they will still need to do those steps before they will be able to contribute.

Agreed.

[2019-08-14 19:32] vasukulkarni commented on #556
For contribution I think they don't have to be part of qe group, with forked repo *anyone* can raise a PR. I think we can make it more general now?

[2019-08-14 19:39] clacroix12 commented on #556
@vasukulkarni Not talking about qe group, more about first time git setup for pushing to github:
https://kbroman.org/github_tutorial/pages/first_time.html

[2019-08-14 19:46] vasukulkarni commented on #556
I see, yeah I think we should add that too, thanks

[2019-08-15 07:32] ebenahar opened #571 "Wait for resource should be separated from its creation so the resource obj will be available in teardown"
Currently, if a pod/pvc creation succeeds but it doesn't reach running/bound status respectively, the test will fail and the pod/pvc won't be deleted in the test teardown.
In order to be able to delete a resource in the teardown, we should return the resource object to the test function, even if the wait for this resource has ended with a failure.

[2019-08-15 07:33] ebenahar commented on #571
https://github.com/red-hat-storage/ocs-ci/pull/566

[2019-08-15 15:29] petr-balogh opened #575 "Deployment from nightly failing when path is used for first time"
[code]

    @pytest.fixture(scope="session", autouse=True)
    def cluster(request, log_cli_level):
        """
        This fixture initiates deployment for both OCP and OCS clusters.
        Specific platform deployment classes will handle the fine details
        of action
        """
        log.info(f"All logs located at {ocsci_log_path()}")

        teardown = config.RUN['cli_params']['teard

[2019-08-15 16:10] RazTamir commented on #562
Fixed here - https://github.com/red-hat-storage/ocs-ci/pull/576

[2019-08-15 17:48] ebenahar opened #577 "No default CephFS - ocsci-cephfs"
For some reason, ocsci-cephfs is not created post deployment, which causes tests that rely on the existence of this CephFS, to fail. An example:

____________________________________________________________________ ERROR at setup of TestCephFilesystemCreation.test_cephfilesystem_creation ____________________________________________________________________

request = <SubRequest 'test_fixture' for

[2019-08-15 18:01] RazTamir commented on #577
Hi @ebenahar ,
Any chance you used the ceph_pool_factory or deleted this by mistake?

[2019-08-15 18:06] ebenahar commented on #577
@RazTamir Found it. It was deleted here:

tests/e2e/test_io_performance.py::TestIOPerformance::test_run_io[CephFS-1GB-rw-1-60-4-1]
------------------------------------------------------------------------------------------------- live log setup --------------------------------------------------------------------------------------------------
18:58:59 - MainThread - ocs_ci.utility.utils - INFO - Exe

[2019-08-15 21:07] #562 closed

[2019-08-16 11:48] ramkiperiy opened #581 "ocs-ci should delete the temp files/crd creted in /tmp/ directory"
ocs-ci should delete the temp files/crd creted in /tmp/ directory, all the temp yaml files generated during the test execution are not deleted at the end of the testcase.

[2019-08-16 12:15] #575 closed

[2019-08-16 16:08] mbukatov commented on #458
I see that there is no activity there, neither I see any issues with workaround label. Does is mean that @red-hat-storage/top-level-reviewers group decided to not to track workarounds, and considers the risk here acceptable?

[2019-08-16 16:22] vasukulkarni commented on #458
@mbukatov It must be an oversight, but afaik I think we have discussed before to file an issue for workaround and keep an eye, probably you can help enforce it for a while :)

[2019-08-16 16:32] #557 closed

[2019-08-17 15:29] ebenahar commented on #577
Fixed by https://github.com/red-hat-storage/ocs-ci/pull/572

[2019-08-17 15:29] #577 closed

[2019-08-17 15:34] ebenahar opened #586 "Post deployment, 'rbd' pool doesn't exist"
This causes tests that rely on the 'rbd' pool to fail.
Not sure whether this is something that we should take care of as part of OCS deployment, or this should come out of the box and if so, a product bug.

Right after deployment:

[ebenahar@localhost ~]$ oc -n openshift-storage --kubeconfig /home/ebenahar/ebenahar-ocs-dir/auth/kubeconfig rsh rook-ceph-tools-5f5dc75fd5-r47lk rbd ls rbd --format js

[2019-08-19 05:17] #568 closed

[2019-08-19 05:49] vavuthu opened #589 "patch thin storage class as 'non-default' based on platform"
Currently we are patching gp2 as 'non-default', extend this functinality to support VMware environment.

[2019-08-19 09:34] ramkiperiy commented on #581
In-case of laptop this won't be much of trouble since reboot of machine will clear the temp files, but this will be problematic in-case of dedicated Jenkins server like machines.

[2019-08-19 10:03] sidhant-agrawal opened #591 "helpers.wait_for_resource_state() is broken for PV resources"
helpers.wait_for_resource_state() is broken for PV resources.
wait_for_resource() is not able to fetch and check the correct status of PV resources

[2019-08-19 10:45] sidhant-agrawal opened #592 "[CephFS] Volume provision fails with "InvalidValue: [Errno 22] error in setxattr""
Multiple CephFS tests are failing with the following error:

`"InvalidValue: [Errno 22] error in setxattr"`

This is due to wrong data pool name in storageclass when using factory fixtures

[2019-08-19 12:36] petr-balogh opened #596 "Add functionality for clone the rook repository and use yaml files from there for base templates"
As we discussed in our automation mtg few times how to deal with coming changes in manifests it would be very useful to have such functionality to consume yaml manifests directly from rook repository if needed.

So would be great to have autouse fixture which will clone the rook repository and checkout to particular branch or commit if needed.

[2019-08-19 14:00] ebenahar commented on #571
#566 is merged

[2019-08-19 14:00] #571 closed

[2019-08-19 14:42] ebenahar commented on #527
Should be fixed by https://github.com/red-hat-storage/ocs-ci/pull/597

[2019-08-19 18:44] mbukatov commented on #458
@vasukulkarni Yes, we discussed this for the new changes, and now we have code review and pull request rules updated, so that we should be able to catch new workarounds.

But here in this issue, I mean something else: what about workaround already in the code? Definitely, there are some, but we don't know about them as easily as for the new workarounds. For this reason, I propose to check the code

[2019-08-19 18:47] mbukatov commented on #591
It's possible that this is either related to directly causing failure of OCS-530 test case.

[2019-08-19 18:55] mbukatov commented on #408
Note that when addressing this issue, now we have multiple `*_helpers.py` files in the test directory.

[2019-08-20 06:46] #592 closed

[2019-08-20 10:49] ebenahar commented on #586
We should not use this pool. Fixed by https://github.com/red-hat-storage/ocs-ci/pull/600

[2019-08-20 10:49] #586 closed

[2019-08-20 11:53] MeridianExplorer opened #602 "exec_oc_command never times out"
`ocp.py`'s `exec_oc_cmd` calls `run_cmd` with the `oc_cmd` parameter and nothing else.
`run_cmd` then calls `subprocess.run`with `**kwargs`, but a `timeout` argument is never given anywhere.

If a process gets stuck and never times out, it might cause an infinite stall of the test suite.

I think we should pass the timeout argument as part of `run_cmd`.

[2019-08-20 16:02] vasukulkarni opened #604 "Add option to run tests in gitlab using github integration"
Integrate with github to run tier tests that can utilize our jenkins qe trigger

[2019-08-20 18:06] mbukatov commented on #591
The root cause seems to be in commit 2753e2cebaa5fe1738065d37f889639f2c046f57 introduced by https://github.com/red-hat-storage/ocs-ci/pull/573, which creates new method `get_resource_status` which instead of parsing yaml, tries to parse human readable command line output.

When I add some logging into the new code there like this:

[code]

And run test case `tests/manage/pv_services/test_dynamic_p

[2019-08-20 18:08] mbukatov commented on #591
@RazTamir could you fix this? If you don't have time for that, I suggest to just revert commit 2753e2c.

[2019-08-20 18:10] mbukatov commented on #591
Adding a high priority label, because this makes Tier1 test case OCS-530 fail, which @ebenahar wanted me to investigate with high priority.

[2019-08-20 18:17] RazTamir commented on #591
I'll check that soon

[2019-08-20 18:34] RazTamir commented on #591
Based on this execution from earlier today, it is passing:
https://ocs4-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/qe-deploy-ocs-cluster/454/testReport/

Could you please share the link for the execution it failed?

[2019-08-21 08:08] mbukatov commented on #591
The report you are linking is an example of CI run when the execution failed.

When you open the page, search for `test_rwo_dynamic_pvc[CephBlockPool-Retain]` (which is pytest test case name for OCS-530 mentioned in my original comment), and then get the details about the failure.

Since the logging has few issues, the problem is not directly visible, but in the end of the test run log, you will s

[2019-08-21 09:39] RazTamir commented on #591
Ack.
Will fix

[2019-08-21 10:29] RazTamir commented on #591
Found the issue in the function.
Fixing now

[2019-08-21 11:46] mbukatov commented on #403
During debugging of OCS-530, I noticed behaviour related to this discussion.

In 3 of our 6 test runs with a single OCS-530 test, I see that installation of fio tool failed:

[code]

So I would say that maintaining QE images for particular workloads such as fio will have additional effect of making our test runs in CI more stable.

[2019-08-21 12:12] RazTamir commented on #591
@mbukatov fixed here https://github.com/red-hat-storage/ocs-ci/pull/608
Please review

[2019-08-21 13:42] mbukatov opened #612 "ocp.get() drops new line characters when used with out_yaml_format=False"
## Description of the problem

When you create ocp object and use get with `out_yaml_format=False`, the output is squashed into a single line:

[code]

This is not expected, we should return output including newlines as in:

[code]

So that we are able to process the output easily:

[code]

## Consequences

This directly leads to issues like https://github.com/red-hat-storage/ocs-ci/issues/591

[2019-08-21 14:07] ebenahar commented on #612
@mbukatov thanks for reporting this, I've encountered that too while tried to process 'oc get' output.

Not sure I understand how the change suggested in https://github.com/red-hat-storage/ocs-ci/pull/613 should fix it though

[2019-08-21 15:10] vavuthu opened #615 "Revert "thin" non default PR after bz is fixed"
BZ to track: https://bugzilla.redhat.com/show_bug.cgi?id=1744160
PR: #590

[2019-08-21 18:02] mbukatov commented on #612
I don't know what else you are missing here. I have both issue with a reproducer, with example and suggested fix.

[2019-08-22 07:06] shreekarSS opened #620 "helpers.get_worker_nodes() can check Status 'Ready' before returning list of worker nodes"

[2019-08-22 11:26] MeridianExplorer opened #621 "Implement and improve quiet logging"
In order to send S3 commands (NooBaa testing) through a relay, it is needed to pass the connection credentials to the relay pod in some way. All the ways I found required executing commands on the remote pod, thus exposing the secrets in the logs.
Thus, a need for 'muting' specific logs related to command execution has rose.

I implemented it using an if-based flow in [PR 616](https://github.com/r

[2019-08-22 19:56] #596 closed

[2019-08-23 04:03] tiffanyn108 commented on #521
I saw this error after rebase my branch today.  Is there a workaround for this issue?

[code]

[2019-08-23 08:22] shreekarSS opened #625 "Remove workaround: increase counts of tries and delay of retry function to validate_pv_delete()"
Workaround: increase counts of tries and delay of retry function to validate_pv_delete()
bz1726266

[2019-08-23 08:25] petr-balogh opened #626 "ImportError: cannot import name 'validate_monitoring_pods_are_respinned_and_running_state' from 'ocs_ci.ocs.monitoring'"
This module `tests/e2e/test_running_cluster_monitoring_with_persistent_storage.py`
is going to be deleted in pr #479 but for quick fix we need to delete this file now to get this fixed as another PR got merged before #479 and causing this issue.

[2019-08-23 08:37] #626 closed

[2019-08-23 08:55] petr-balogh opened #628 "Add check for collection of tests"
Add --collect-only to tox to prevent issues like we had today #626

[2019-08-23 15:51] zmc commented on #626
Just for posterity, the breakage was caused by https://github.com/red-hat-storage/ocs-ci/pull/506

[2019-08-23 15:53] zmc commented on #628
Would it be enough to check "Include Administrators" [here](https://github.com/red-hat-storage/ocs-ci/settings/branch_protection_rules/5068680) ?

[2019-08-23 16:51] petr-balogh commented on #628
@zmc How does it help in case I am fixing? The ci passed for case mentioned in issue. This will ensure we are still able to collect all tests and there are no critical failures in imports and so on. See the example of failure in comment.

[2019-08-23 19:51] mbukatov opened #631 "Logging issues wrt debugging of the recent failures in OCS-530 test case"
Logging in ocs-ci could be improved, to prevent the following problems related to debugging of OCS-530 test case:

* Debugging of this failure test was not possible based solely on logs stored by jenkins
* Debugging of the failure was much more expensive than necessary given the root cause of the problem.

While we can't guarantee that every failure will be always visible enough in the logs for us

[2019-08-23 19:58] mbukatov opened #632 "Resolve inconsistency in behavior of wait_* methods"
There are few functions and methods which will let the caller to wait for some object to reach given status.

The problem is that in some cases, the function just returns a bool value:

- `ocs_ci.ocs.node.wait_for_nodes_status()`
- `TimeoutSample.wait_for_func_status()`

but in other cases, the waiting function raises `TimeoutExpiredError` exception when the status is not reached:

- `OCP.wait_for

[2019-08-23 20:01] mbukatov commented on #632
I aligned the behavior of `OCP.wait_for_resource()`  in commit https://github.com/mbukatov/ocs-ci/commit/7a8c6f84215302e2a376cde2ac6dff2b47826421, but because I don't want to break code which may expect this behavior, I added a commit https://github.com/mbukatov/ocs-ci/commit/8f928d07d4058e94413975e2473d45a3bb994506 which preserves the previous behavior and could be reverted easily if necessary.

[2019-08-23 20:17] mbukatov commented on #631
There are lot of other problems, but in this issue I prioritized few changes based on impact to debugging and cost of explanation why a change is necessary.

[2019-08-23 20:26] mbukatov opened #634 "Add kind of the resource to ResourceWrongStatusException"
Adding kind of the resource to ResourceWrongStatusException will help the understanding of the error. Kind of the object such as pv, pvc, ... is not always clear from the object name.

[2019-08-23 20:38] mbukatov commented on #634
Based on experience with OCS-530 debugging.

[2019-08-23 20:38] mbukatov commented on #632
Based on experience with OCS-530 debugging.

[2019-08-23 20:44] mbukatov commented on #612
I will need to rebase this and change code which expects the previous behavior (removing workarounds of this issue) to prevent further disruptions of CI results.

[2019-08-24 00:21] #628 closed

[2019-08-25 11:16] MeridianExplorer commented on #621
Quiet logging has been improved and replaced with 'masked' logging. Sensitive information is now passed under 'secrets', and will be censored from the output using 5 asterisks.

[2019-08-25 11:16] #621 closed

[2019-08-26 07:13] petr-balogh opened #641 "Deploy OCS via operator"
Use operator for the deployment:
https://github.com/openshift/ocs-operator

[2019-08-26 09:38] prsurve opened #642 "Deploy rook cluster backed with PVC"

[2019-08-26 09:46] parikshithb opened #643 "Fix for several failures in test_pvc_delete_verify_size_is_returned_to_backendpool"
1. Fix for ceph used space

Some times script fails at:
   assert (abs(
            used_after_deleting_pvc - used_before_creating_pvc) < 0.2
        )

Log: https://ocs4-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/qe-deploy-ocs-cluster/454/testReport/junit/tests.manage.pv_services.test_pvc_delete_verify_size_is_returned_to_backendpool/TestPVCDeleteAndVerifySizeIsReturnedToBackendPool/test_pvc_del

[2019-08-26 09:49] jilju commented on #643
verify_pv_exists_in_backend() cannot be used to validate absence of volume after deleting pvc because it will execute resource get command, which will fail.

[2019-08-26 14:20] ebenahar opened #645 "NooBaa create and delete test cases are missing polarion_id"

[2019-08-26 15:17] ebenahar commented on #645
https://github.com/red-hat-storage/ocs-ci/pull/646

[2019-08-26 15:17] #645 closed

[2019-08-26 15:26] vasukulkarni opened #647 "Setup cronjob or jenkins job for resource cleanup on weekly basis"
Run couple jobs(in parallel) either in cronjob or jenkins job to automate cleanup on weekly basis.

[2019-08-26 15:45] parikshithb commented on #643
True. I have made changes to the script to use helpers.verify_volume_deleted_in_backend().
Also, since verify_pv_exists_in_backend() function is exactly similar to verify_volume_deleted_in_backend(), I have deleted verify_pv_exists_in_backend() in pvc.py. It was only used by this test case, so it does not effect any other test cases.

[2019-08-26 15:56] petr-balogh opened #649 "Error during execution of must gather"
ocs_ci.ocs.exceptions.CommandFailed: Error during execution of command: oc --kubeconfig cluster/auth/kubeconfig adm must-gather --image=ashishranjan738/ocs-must-gather --dest-dir=/home/jenkins-build/workspace/ocs-ci/logs/failed_testcase_ocs_logs_1566787746/test_multiple_pvc_creation_after_deletion_performance[CephFS]_ocs_logs.

We should use the official one image as well and not some development

[2019-08-26 17:24] mbukatov opened #651 "Enable monitoring by default"
Since we just merged alerting test case OCS-1052, which requires monitoring to be enabled, we need to have the alerting enabled by default. When the deployment is handled by OCS operator, monitoring will be always enabled (OCS-954), so this change aligns us a bit with us expected OCS featureset.

So far, it was possible to enable monitoring via `monitoring_enabled` option, as shown in [`ocs-ci/con

[2019-08-26 17:31] mbukatov commented on #651
@petr-balogh Do I understand it right that it should be added into [`defaults.py`](https://github.com/red-hat-storage/ocs-ci/blob/master/ocs_ci/ocs/defaults.py)?

[2019-08-27 07:40] petr-balogh commented on #651
@mbukatov no, It has to be added here: https://github.com/red-hat-storage/ocs-ci/blob/master/ocs_ci/framework/conf/default_config.yaml

[2019-08-27 12:44] petr-balogh opened #653 "change to ceph/ceph:v14.2.2-20190826 as it was merged yesterday in rook repo"
You can see here:
https://github.com/rook/rook/commit/a42916eff098db63241cd4f56c7aca83196cb035#diff-45b3505b4ed0aaf94f47dc2161c6cc5d

So for upstream we should move to this one version as well.

[2019-08-27 13:25] petr-balogh opened #655 "add polarion-custom-isautomated to True in xunit report for polarion"
This option should help us mark automated TC in polarion.

Didn't find much documentation about this custom property. Only mentioned here: https://mojo.redhat.com/docs/DOC-986839

But we used this in RHV as well.

[2019-08-27 16:46] petr-balogh commented on #649
@zmc please open bug to must gather in BZ. If it timeouting seems its's issue in must gather. In your CI you can disable this with not passing --collect-logs param.

[2019-08-27 16:52] petr-balogh commented on #649
You can also contact directly Ashish Ranjan one of the developer of must gather for ocs

[2019-08-27 17:01] petr-balogh commented on #649
I am not online on laptop, just on my cell, but before I saw it failed whole execution of pytest now it's covered by try, except and I see: live log sessionfinish now.
So looks much better, as I suggested such issues with must gather should be reported as bug as it's gonna be part of product. If we know specific image tag which was working we can also now pass the image in configuration. So we can

[2019-08-27 17:04] petr-balogh commented on #649
With BZ filed you will get more attention from devs and is official way. Hope there is already component for it. I will forward you one of email communication with Asish for more info

[2019-08-28 06:22] nehaberry opened #660 "Add BaseDomain Details in documentation for Getting started"
Currently, the base_domain mentioned in install-config-aws-ipi.yaml.j2 points to following. But , when users outside of ocs-qe use ocs-ci framework, they tend to miss updating the baseDomain to their own AWS domain. This may be because of missing documentation on the same in [Getting Started](https://github.com/red-hat-storage/ocs-ci/blob/master/docs/getting_started.md).
[code]

Please help by add

[2019-08-28 06:28] nehaberry opened #661 "Need to update templates to match with Yaml changes in rook repo"
Hi,

As observed in rook, most of the yamls for deployment have undergone changes. Hence, till we keep using the saved templates instead of fresh rook repo from data/rook folder, we would need to update the templates in [ocs-ci ](https://github.com/red-hat-storage/ocs-ci/tree/master/ocs_ci/templates).

Changed yamls:
common.yaml
filesystem.yaml
cluster.yaml/cluster-on-pvc.yaml

Due to the old temp

[2019-08-28 06:34] nehaberry commented on #661
@petr-balogh correct me if I am wrong. But PR #585 is already merged. So are we still using the old template method for deployment ? I cam to know from Madhu that our common.yaml was not updated, hence the issue. So I assumed we need template updation.

Please suggest

[2019-08-28 07:34] petr-balogh commented on #661
@nehaberry I provided this functionality in PR #585 for other guys to use some files from rook repository if need but as we are on the way to move the deployment using operator I didn't put the effort to change the code to change everything in the deployment as we are moving to the deployment via operator in #640 . So we will need to update the templates accordingly to latest changes as it will ta

[2019-08-28 07:36] nehaberry commented on #661
Thanks a lot @petr-balogh  for the clarifications.

[2019-08-28 08:36] shreekarSS opened #662 "get_fio_results fails with E AttributeError: 'NoneType' object has no attribute 'running'"
While collecting IO results:
08:27:38 - MainThread - root - INFO - Waiting for IO results from pod pod-test-rbd-75977162eddf46cd8a3fae3f9f60611d
08:28:11 - MainThread - root - INFO - IOPs after FIO:
08:28:11 - MainThread - root - INFO - Read: 316.195587
08:28:11 - MainThread - root - INFO - Write: 104.826345
08:28:11 - MainThread - root - INFO - Waiting for IO results from pod pod-test-rbd-7f06047

[2019-08-28 08:37] shreekarSS commented on #662
@RazTamir can u have look?

[2019-08-28 08:39] RazTamir commented on #662
@shreekarSS , could you please share more info?
which test is failing with link please.
It seems like this pod obj doesn't have 'fio_thread' initiated.  Could you please share the code that failed?

[2019-08-28 08:48] shreekarSS commented on #662
@RazTamir prob was with list slicing, so one pod was missed run_io, so pod did not have fio_thread . Closing this issue. Thanks

[2019-08-28 08:48] #662 closed

[2019-08-28 10:48] ebenahar commented on #661
@shreekarSS @nehaberry are all the yamls mentioned in the [first comment](https://github.com/red-hat-storage/ocs-ci/issues/661#issue-486184116) updated in https://github.com/red-hat-storage/ocs-ci/pull/665?

[2019-08-28 11:02] vavuthu commented on #661
@nehaberry I see you have mentioned "filesystem.yaml" and "cluster.yaml/cluster-on-pvc.yaml" requires changes.

From the PR https://github.com/rook/rook/pull/3642/ , I didn't see any chnages for above mentioned files.

Could you clarify

[2019-08-28 11:08] #655 closed

[2019-08-28 21:10] petr-balogh opened #668 "Deployment failing with: Error is Error from server (NotFound): pods "rook-ceph-mon-c-canary-74fdd59f7-zvd65" not found"
Currently in the deployment there are the mon pods  rook-ceph-mon-X-canary-XXXX deleted and replaced with  rook-ceph-mon-X-XXXXX.

Once we are in the loop of waiting for resources and rook delete those pods we are failing with error:
[code]

[2019-08-29 10:18] vavuthu commented on #661
PR #665 merged

[2019-08-29 10:18] #661 closed

[2019-08-29 12:26] #651 closed

[2019-08-29 13:44] #668 closed

[2019-08-29 13:50] #649 closed

[2019-08-29 20:25] dillaman opened #673 "Run OCP and OCS must-gather images"
Currently only the OCS must-gather image is being run after test failures [1]. It should also run the OCP must-gather (`oc adm must-gather --image quay.io/openshift/origin-must-gather:latest`) *and* run `oc adm must-gather --image quay.io/openshift/origin-must-gather:latest -- /usr/bin/gather_service_logs worker` to collect the service logs from the worker nodes (not collected by default via OCP m

[2019-08-30 05:57] keesturam opened #676 "Provide a way to consume openshift SVT project"
openshift svt is a Performance, Scalability and Capacity project for openshift that ocs-ci can leverage from.
link to the repo: https://github.com/openshift/svt

For eg., to load openshift-logging with a lot of pods that generate logs, we could simply run ```python cluster-loader.py --kubeconfig=<path_to_kubeconfig> -f config/ocp-logtest.yaml``` to get the job done.

Raising this issue to provide

[2019-08-30 15:40] #673 closed

[2019-08-30 18:16] vasukulkarni opened #678 "Enable complete debug output from openshift-installer in Jenkins run"
We currently print just the INFO level in jenkins run which is not helpful in debugging or when filing an issue,  Must-gather was also broken before but along with must-gather we need to print out the full debug output to better understand the failures.

[2019-08-30 18:20] clacroix12 commented on #678
I believe INFO was chosen for jenkins runs because we were hitting issues with the jenkins console. The log FILES however should be DEBUG already to help with troubleshooting.

[2019-08-30 18:23] vasukulkarni commented on #678
I am not sure whether its a Jenkins issue then, I tried to sort by date and check the logs but cannot find the debug logs, link below

https://ocs4-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/qe-trigger-test-pr/132/testReport/tests.ecosystem.deployment/test_ocs_basic_install/test_cluster_is_running/

[2019-08-30 18:26] vasukulkarni commented on #678
+ broken logs link http://magna002.ceph.redhat.com/ocsci-jenkins/openshift-clusters/pr677

[2019-08-30 20:26] vasukulkarni commented on #678
@dahorak can you check if rebuild is causing logs to be broken, with new deployment build I can see the debug logs but the above jenkins run (which was rebuild) I dont see them.

[2019-09-01 07:06] ebenahar opened #680 "[Remove workaround] BZ1748325 - workaround in ocs_ci.ocs.cluster.CephCluster#mon_health_check"
The issue: mon count is increased by 1 after node failure. A new temporary mon pod is being created and stays in Pending state for up to 1 hour. This causes mon_health_check() to fail as we expect the same number of mons.
The workaround is to check each mon status and compare only the number of running ones

[2019-09-01 07:13] ebenahar commented on #680
For workaround removal, the lines in between the TODO comment should be replaced as follows:

From:
[code]

To:
[code]

[2019-09-02 13:12] #653 closed

[2019-09-02 14:23] Shrivaibavi commented on #478
Closing this issue as PR #545 got merged.

[2019-09-04 11:49] petr-balogh opened #687 "WA for BZ 1747388 with WARN too few PGs"
We need to create the WA and once it will be fixed we need to remove this WA. Please don't close this issue till the WA is deleted.

[2019-09-04 18:59] jilju commented on #382
Test cases updated to  create both RWO and RWX PVCs.

test_disruptive_during_pod_pvc_deletion_and_io, test_disruptive_during_pod_pvc_deletion - PR #672
test_pvc_disruptive - PR #686
test_resource_deletion_during_pvc_pod_creation_and_io - PR #693

[2019-09-05 07:41] #641 closed

[2019-09-05 09:46] ramkiperiy commented on #417
I had this situation in my test case automation. Have tried something like below which worked.

    @pytest.fixture()
    def storageclass(self, storageclass_factory):
        """
        Create Storage class for rbd and cephfs
        """
        self.rbd_sc_obj = storageclass_factory(interface=constants.CEPHBLOCKPOOL)
        self.cephfs_sc_obj = storageclass_factory(interface=constants.CEPHFILE

[2019-09-05 11:13] mbukatov commented on #687
Upstream references:
* https://github.com/rook/rook/issues/560
* https://github.com/rook/rook/pull/3745
* https://github.com/rook/rook/pull/3769

[2019-09-05 12:59] petr-balogh opened #696 "Create config for production with m5.4xlarge"
It was discussed on staff mtg that we should create such config and use it for production runs.
Also align with: https://jira.coreos.com/browse/KNIP-821

[2019-09-05 14:40] dillaman opened #698 "Collect logs from tests that fail clean-up"
It appears that logs are only collected when the test case fails during its execution, but not when it fails during clean-up (and perhaps set-up as well?). Is there any way to ensure that all "failed" test runs (from a Jenkins point of view) properly collect logs if enabled?

Example of a test failure that didn't collect logs:

[2019-09-05 18:15] clacroix12 opened #700 "Consolidate custom configuration CLI arguments"
We currently have two CLI arguments for updating the configuration with non-default values. Both of these options effectively do the same thing. One of them (--ocsci-conf) is specifically used by jenkins which makes it unusable by users for jenkins executions. The other (--cluster-conf) is available for users. The name `--cluster-conf` is a bit disingenuous as well since values can be added to the

[2019-09-05 18:27] Shrivaibavi opened #701 "ScopeMismatch ERROR When set @pytest.fixture(scope=class)"
Hitting this issue when trying to set scope to class when using factory fixtures.

[code]

[2019-09-05 19:07] clacroix12 commented on #696
Is this for workers only or both master and worker nodes?

[2019-09-05 19:24] petr-balogh commented on #696
In the ticket that mentioned nodes where OCS is running, which are worker nodes if I understand correctly.

[2019-09-05 20:50] vasukulkarni commented on #700
👍

[2019-09-06 05:08] petr-balogh commented on #700
This needs to be well organized and after the PR is prepared we need to align also our jenkins job definition for it, test together and once both changes are verified we need to merge together.  Otherwise the definition above looks fine to me. Thanks

[2019-09-06 07:58] #643 closed

[2019-09-06 17:34] ebenahar opened #707 "MCG (NooBaa) tests should be running"
All MCG tests are currently skipped.
Now that we deploy clusters using OCS operator, these tests should not be skipped

[2019-09-06 18:24] ebenahar opened #708 "Need to change pools names in PG WA"
Pools names have changed from:
ocsci-cephfs-metadata
ocsci-cephfs-data0

To:
sh-4.2# ceph osd lspools
1 rook-ceph-cephblockpool
2 rook-ceph-cephfilesystem-metadata
3 rook-ceph-cephfilesystem-data0

[2019-09-06 18:24] ebenahar commented on #708
This causes the deployment to fail:

            )
E           ocs_ci.ocs.exceptions.CommandFailed: Error during execution of command: oc -n openshift-storage --kubeconfig /home/ebenahar/ebenahar-ocs-dir/auth/kubeconfig exec rook-ceph-tools-5f5dc75fd5-tmc6f -- bash -c "for POOL in ocsci-cephfs-metadata ocsci-cephfs-data0; do for PGN in pg_num pgp_num; do ceph osd pool set ${POOL} ${PGN} 100;done;

[2019-09-06 18:26] ebenahar commented on #708
https://github.com/red-hat-storage/ocs-ci/pull/709

[2019-09-06 18:39] ebenahar commented on #708
Actually, I'm not sure why the names of the pools have changed in the first place

[2019-09-06 22:59] petr-balogh opened #712 "Implement deployment via downstream OCS operator"
We need to implement deployment also via operator for downstream builds as there are few differences.

[2019-09-09 19:04] keesturam opened #720 "get_cephfs_provisioner_pod and get_rbd_provisioner_pod function is broken"
After recent changes in rook-ceph which introduced 2 provisioner pods, `get_cephfs_provisioner_pod` and `get_rbd_provisioner_pod` functions is broken. As a result, 3 performance test cases may fail (OCS-1620, OCS-1270, OCS-1225).

[2019-09-10 06:37] #696 closed

[2019-09-10 08:46] dahorak opened #723 "ocs_operator_storage_cluster_cr points to nonexisting url"
Installation of upstream version via operator is failing on following error:

[code]

The URL is set in default config [ocs_ci/framework/conf/default_config.yaml](https://github.com/red-hat-storage/ocs-ci/blob/master/ocs_ci/framework/conf/default_config.yaml#L44).

The linked file does not exists any more, but it seems to be just renamed to `ocs_v1_storagecluster_cr.yaml`:
https://github.com/opens

[2019-09-10 09:36] #723 closed

[2019-09-10 15:56] vasukulkarni commented on #687
Can be closed now?

[2019-09-11 07:50] #631 closed

[2019-09-11 08:04] petr-balogh commented on #687
yes, I thought it will be closed automatically as I mentioned this issue in PR message.

[2019-09-11 08:04] #687 closed

[2019-09-11 18:08] #701 closed

[2019-09-11 19:08] vasukulkarni opened #734 "check nightly build for complete readiness"
We can hit timing based issues when the nighty build is half done and our http return code is ok but the tar files are half baked,  couple users have seen this.

[2019-09-12 05:37] dahorak commented on #335
Some of the failing cases should be fixed by https://github.com/red-hat-storage/ocs-ci/pull/730, but not sure if those specific one.

[2019-09-12 05:42] dahorak opened #735 "Remove @destroy marker from test_deployment test"
As part of PR https://github.com/red-hat-storage/ocs-ci/pull/730, `test_deployment` test was marked as `@destroy` for easier transition to the new approach in CI. Once we will be sure, that all running jobs (including PR validation jobs) will be using the new code introduced in that PR, we can update the Jenkins Job teardown command and remove this `@destroy` marker from the `test_deployment` test

[2019-09-12 07:23] Shrivaibavi opened #737 "Resources leftovers is shown when the pod is respinned "Resources added and resources removed""
Observed that when pods are respinned the environmental check is failing with error "resources are added and resources are removed".

Few of the scenarios where we hit the issue.
1. When setting RBAC permission the pod gets respinned, that is shown in environmental check(when installing openshift-logging)
2. When rebooting the master
3. When draining the worker nodes the pods are respinned.

For n